#adminsTable td, th, tr {
  text-align: center;
  vertical-align: middle;
}

.fa{
  color: rgb(66, 139, 202);
}

.fa-trash, .fa-plus-square, .fa-plus{
  color: white;
}

.row{
  margin: auto;
}

.container{
  text-align: center;
  padding-top: 2%;
}

#heading{
  font-size: large;
  padding-top: 2%;
  margin-bottom: 5%;
}

#adminsTable{
  padding-top: 5%;
}

#adminsTable thead{
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

#adminsTable thead th span {
  visibility: hidden;
}

#adminsTable thead th.active span {
  visibility: visible;
}

.dropdown-menu {
  padding-left: 10px;
}

.dropdown-menu > li {
  cursor: hand;
}
.div-add {
  float: right;
}

#searchDiv{
  margin-bottom: 2%;
  padding-left: 0%;
}
