<div class="container">
  <div class="row">
    <div>
      <div class="row"><strong id="heading"> Administrators </strong></div>

      <div class="row">
        <div class="col col-lg-1" id="searchDiv">
          <div class="row">
            <div class="input-group">
              <div class="input-group-btn" dropdown>
                <button type="button" class="btn btn-default" id="dropdownButton" dropdownToggle>
                  <span>{{ selectedSort }}</span>
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu">
                  <li *ngFor="let sort of sortList" (click)="setSort(sort)">{{ sort }}</li>
                </ul>
                <button class="btn btn-success" type="button" (click)="callSort()">
                  Sort
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- start of add button -->
        <div class="col-md-1 div-add">
          <button class="btn btn-add btn-warning" type="button" (click)="registerAdmin()">
            <span class="fa fa-plus"></span> Add
          </button>
        </div>
        <!-- end of add button -->
        </div>
      </div>

      <div *ngIf="adminList">
        <div *ngIf="adminList.length > 0; else noElements">
          <table class="table table-hover table-condensed" id="adminsTable">
            <thead>
            <tr>
              <th><i class="fa fa-user"></i> First name</th>
              <th><i class="fa fa-user-o"></i> Last name</th>
              <th><i class="fa fa-id-badge"></i> Username</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let admin of adminList">
                <td>{{admin.firstName}}</td>
                <td>{{admin.lastName}}</td>
                <td>{{admin.username}}</td>
                <td>
                  <button id={{admin.username}} type="button" class="btn btn-danger" *ngIf="jwtService.getUsernameFromToken() !== admin.username" (click)="deleteAdmin(admin)">
                    <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
        <ng-template #noElements>
          <h3>Sorry, there are no administrators! </h3>
        </ng-template>
      </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
