.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.vote-statistic {
  font-weight: bold;
}

.vote-number, .number-of-votes {
  color: red;
}

.vote-percentage {
  color: black;
}

.question-list {
  max-height: 500px;
  overflow:scroll;
  overflow-x:hidden;
}
