<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Results of voting for this questionnaire</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" *ngIf="questionnaireResults">

      <!-- start questions list review -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Number of votes: <span class="number-of-votes">{{ questionnaireResults.numberOfVotes }}</span></h4>
        </div>
        <ul class="list-group question-list">
          <li class="list-group-item" *ngFor="let result of questionnaireResults.results;">
            <b>Content: </b> <br>
            <span>{{ result.content | questionContent }}</span><br><br>
            <b>Answers and votes statistics: </b>
            <ul>
              <li *ngFor="let answerResults of result.answers">
                <span>{{ answerResults.content }}</span>
                <span class="vote-statistic">
                  <span class="vote-number">{{ answerResults.numberOfVotes }} votes </span>
                  <span class="vote-percentage">({{ answerResults.numberOfVotes * 100 / questionnaireResults.numberOfVotes | number : '1.2-2' }}%)</span>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- end question list review -->

    </div>

  </div>
</div>
