.container{
  text-align: center;
  padding-top: 2%;

}

.row{
  margin: auto;
}

agm-map {
  height: 300px;
}


input.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.form-control{
  margin: 5px;
}

.btn.save {
  margin-top: 30px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

li {
  text-align: left;
  color: black;
}

.account-header{
  color: black;
  font-size: 16px;
}

.btn.btn-xs.danger, .save{
  background-color: rgb(66, 139, 202);
  color: white;
}

#radioParking, #numberOfFloors{
  color: black;
}

.row{
  align-items: center;
}

.form-center{
  margin-top:5%;
}

.scrollable-menu {
  height: auto;
  width: 100%;
  max-height: 100px;
  overflow-x: hidden;
}

#initialFloor{
  width: 100%;
}


.dropdown-menu > li {
  cursor: hand;
  color: black;
}

#apartTable{
  color: black;
}

#apartTable thead{
  text-align: center;
}

tr, td, th{
  text-align: center;
}

thead th {
  width: 33%;
  margin-right: 15px;
  margin-left: 15px;
}

#apartTable thead th span {
  visibility: hidden;
}

#apartTable thead th.active span {
  visibility: visible;
}

.form-group{
  width: 100%;
}

#divAparTable{
  width: 100%;
}

.panel-heading-location, .panel-heading-personal {
  font-size: 16px;
  font-weight: bold;
  color: #3c3c3c;
}

#minMaxDiv{
  width: 27%;
  margin: 2%;
  padding-top: 4%;
  color: red;
}

.fa{
  color: rgb(66, 139, 202);
}
