<div class="container">
  <div class="row">
    <div>
      <!-- start of Map of tenant address -->
      <div class="row" *ngIf="building">
        <div class="panel panel-default" *ngIf="building.address">
          <div class="panel-heading">
            <div class="panel-heading-location">
              <span class="fa fa-map-marker"></span> Location of building
            </div>
            <div>
              <div><b>Street:</b> {{ building.address.street }} {{ building.address.number }}</div>
              <div><b>City:</b> {{ building.address.city.name }}, {{ building.address.city.postalNumber }}</div>
            </div>
          </div>
          <div class="panel-body">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <!-- end of Map of tenant address -->
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-personal">
        Building information
      </div>
      <div class="panel-body">
        <form [formGroup]="form" accept-charset="UTF-8" *ngIf="building">
          <div class="col-xs-6 form-left">

            <div class="form-group">
              <label id="numberOfFloors">Number of floors: </label>
              <div class="input-group">
                <div class="input-group-btn" dropdown>

                  <button type="button" class="btn btn-default" id="initialFloor" dropdownToggle>
                    <span>{{ building.numberOfFloors }}</span>
                    <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu scrollable-menu">
                    <li *ngFor="let floor of floorsList" (click)="setFloors(floor)">{{ floor }}</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="form-group"  id="radioParking">
              <label>Has parking: </label>
              <form>
                <label class="radio-inline"><input [checked]="building.hasParking === true" type="radio" name="optradio" (click)="hasParking(true)">Yes</label>
                <label class="radio-inline"><input [checked]="building.hasParking === false" type="radio" name="optradio" (click)="hasParking(false)">No</label>
              </form>
            </div>

            <div class="" id="divAparTable">
              <span><strong>Apartments</strong></span>
              <div class="row">
                <div class="col col-lg-1" id="searchDiv">
                  <div class="row">
                    <div class="input-group">
                      <div class="input-group-btn" dropdown>
                        <button type="button" class="btn btn-default" id="selectedFilter" dropdownToggle>
                          <span>{{ selectedFilter }}</span>
                          <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" id="dropDownMenuFilter">
                          <li *ngFor="let filter of filterList" (click)="setFilter(filter)">{{ filter }}</li>
                        </ul>
                        <button [disabled]="(selectedFilter == 'Empty ap. by size') && (min == null || max == null || max < min)" class="btn btn-success" type="button" (click)="callFilter()">
                          Filter
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="minMaxDiv" *ngIf="selectedFilter == 'Empty ap. by size'">
                    <input id="min" type="number" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Min..." [(ngModel)]="min">
                    <input id="max" type="number" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Max..." [(ngModel)]="max">
                  <div id="minGreaterError" *ngIf="min > max" >
                    Min can't be greater!
                  </div>
                </div>


              </div>
              <ol>
                <div *ngIf="building.apartments">
                  <div *ngIf="building.apartments.length > 0; else noElements">
                    <table class="table table-hover table-condensed" id="apartTable">
                      <thead>
                      <tr>
                        <th>Number</th>
                        <th>Floor</th>
                        <th>Surface</th>
                        <th>Owner</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let apart of building.apartments" style="list-style: none">
                        <td>{{apart.number}}</td>
                        <td>{{apart.floor}}</td>
                        <td>{{apart.surface}}</td>
                        <td *ngIf="apart.owner">{{apart.owner.firstName}}&nbsp;{{apart.owner.lastName}}</td>
                        <td *ngIf="!apart.owner"><i class="fa fa-times" aria-hidden="true"></i></td>
                        <span style="float: right;"><button  [disabled]="!allApartments"  (click)="removeApartment(apart)"
                                                       data-original-title="Delete apartment" data-toggle="tooltip"
                                                       type="button" class="btn btn-xs danger">
                            <i class="glyphicon glyphicon-trash"></i>
                            </button></span>
                      </tr>
                      </tbody>
                    </table>
                    <div class="col-md-12 div-page">
                      <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                                  [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                                  firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"
                                  [ngModelOptions]="{standalone: true}"></pagination>
                    </div>
                  </div>
                  <ng-template #noElements>
                    <h3>Sorry, there are no apartments! </h3>
                  </ng-template>
                </div>
              </ol>

              <button class="btn btn-primary account" type="button" [disabled]="!allApartments" (click)="displayAddApartment()">Add new apartment
              </button>
            </div>
          </div>

          <div class="col-xs-6 form-right">
            <div class="form-center">
              <div class="form-group">
                <input
                  formControlName="street"
                  id="street"
                  placeholder="street..."
                  type="text"
                  class="form-control">
                <div *ngIf="street.touched && street.invalid" class="alert alert-danger">
                  <div id="streetRequiredError" *ngIf="street.errors.required; else descriptionMinLength">
                    The street is required!
                  </div>
                  <ng-template #descriptionMinLength>
                    <ng-container *ngIf="street.errors.minlength">
                      <div id="streetMinLengthError">
                        Minimum length is {{street.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="number"
                  id="number"
                  placeholder="street number..."
                  type="text"
                  class="form-control">
                <div *ngIf="number.touched && number.invalid" class="alert alert-danger">
                  <div id="numberRequiredError" *ngIf="number.errors.required; else numberContainsSpace">
                    The number is required!
                  </div>
                  <ng-template #numberContainsSpace>
                    <ng-container *ngIf="number.errors.cannotContainSpace; else numberPattern">
                      <div id="numberSpaceError">
                        The number can't contain space.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="city"
                  id="city"
                  placeholder="city..."
                  type="text"
                  class="form-control">
                <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
                  <div id="cityRequiredError" *ngIf="city.errors.required;">
                    The city is required!
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="postalCode"
                  id="postalCode"
                  placeholder="postal code..."
                  type="text"
                  class="form-control">
                <div *ngIf="postalCode.touched && postalCode.invalid" class="alert alert-danger">
                  <div id="postalCodeRequiredError" *ngIf="postalCode.errors.required; else postalCodePattern">
                    Postal code is required!
                  </div>
                  <ng-template #postalCodePattern>
                    <ng-container *ngIf="postalCode.errors.pattern">
                      <div id="postalCodeLengthError">
                        The postal code must contain exactly 5 digits.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <button class="btn save" type="submit" [disabled]="!form.valid" (click)="updateBuilding()">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
