<div class="container">
  <div class="row row-title">
    <h3>Damage offer requests</h3>
  </div>

  <ng-container *ngIf="damages && damages.length > 0; else noDamages" >
    <div class="panel panel-default" *ngFor="let damage of damages">

      <!-- start of damage panel heading -->
      <div class="panel-heading">
        <div class="damage-metadata">
          <span class="fa fa-user"></span>
          <span
            id="damageCreatorName">{{ damage.creator.firstName }} {{ damage.creator.lastName }}</span>
          <span class="fa fa-clock-o"></span>
          <span>{{ damage.date | dateTimeFormat }}</span>
          <div class="damage-menu">
            <span class="fa fa-ellipsis-v" [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
            <ng-template #popTemplate>
              <div>
                <a (click)="sendOffer(damage)">
                  <span class="fa fa-envelope"></span> Send offer
                </a>
              </div>
              <div>
                <a (click)="details(damage)">
                  <span class="fa fa-info"></span> Damage details
                </a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- start of damage panel heading -->


      <!-- start of damage panel body -->
      <div class="panel-body">
        <p class="damage-type-paragraph"><b>Type:</b> {{ damage.typeName | damage_type_format }} </p>
        <p class="damage-description-paragraph"><b>Description</b></p>
        {{ damage.description }}
      </div>
      <!-- end of damage panel body -->

    </div>

    <div class="col-md-12 div-page" *ngIf="totalItems > 0">
      <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                  [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                  firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </ng-container>

  <ng-template #noDamages>
    <div class="no-damages">
      <h4>
        There are currently no damage requests!
      </h4>
    </div>
  </ng-template>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
