span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.damage-metadata {
  color: gray;
}

.damage-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

div.damage-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

#damageCreatorName {
  margin-right: 15px;
}

.container {
  margin-top: 25px;
}

div a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.no-damages{
  text-align: center;
}

.row, .damage-type-paragraph {
  margin-bottom: 10px;
}

.damage-description-paragraph {
  margin-bottom: -3px;
}


.row-title {
  margin-top: -20px;
  text-align: center;
}

