<div class="modal-lg">
  <div class="modal-content">

    <div class="modal-body" *ngIf="model">
      <form #f="ngForm" (ngSubmit)="onSubmit()" (change)="changeExist(f.value)" accept-charset="UTF-8">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="title..."
            [(ngModel)]="model.title"
            #title="ngModel"
            required>
          <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
            <div id="titleRequiredError" *ngIf="title.errors.required">
              The title is required!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            placeholder="content..."
            [(ngModel)]="model.content"
            #content="ngModel"
            required>
          </textarea>
          <div *ngIf="content.touched && content.invalid" class="alert alert-danger">
            <div id="contentRequiredError" *ngIf="content.errors.required">
              The content is required!
            </div>
          </div>
        </div>


        <div class="selected-damage-details panel panel-default" *ngIf="damageForMeetingItem.id !== -1">
          <div class="panel-heading">
            <b>This questionnaire is related to damage with next description:</b>
            <a class="damage-connection-remove" (click)="removeDamage()">
              Remove connection
            </a>
          </div>
          <div class="panel-body">
            {{ damageForMeetingItem.description }}
          </div>
        </div>

        <div *ngIf="damageForMeetingItem.id === -1">
          If this questionnaire is related to some of damages you are responsible for -
          <a id="chooseDamageLink" (click)="connectWithDamage()">
            select damage
          </a>
        </div>
        <div class="questionnaire-create-update">
          <a (click)="showQuestionnaire()">
            <span class="fa fa-list"></span> Questionnaire
          </a>
        </div>
        <div class="buttons">
          <button class="btn btn-save" type="submit" [disabled]="(!changeInForm && !damageChanged && !questionnaireChanged) || !f.valid">Save</button>
          <button class="btn btn-reset" type="button" [disabled]="!changeInForm && !damageChanged && !questionnaireChanged" (click)="reset()">Reset</button>
          <button class="btn btn-warning" type="button" (click)="modalRef.hide()">Cancel</button>
        </div>
      </form>
    </div>

  </div>
</div>
