.buttons {
  text-align: center;
  color: white;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}

.modal-header {
  text-align: center;
}

#content {
  height: 200px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.questionnaire-create-update {
  margin-bottom: 20px;
  cursor: hand;
}

.damage-connection-remove {
  float: right;
}

.selected-damage-details > a {
  cursor: hand;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}
