<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        <ng-container *ngIf="setResponsibility; else delegateResponsibility">
          <ng-container *ngIf="isDelegatingDamage; else settingDamageType">
            Set responsibility for damage
          </ng-container>
          <ng-template #settingDamageType>
            Set responsibility for damage type
          </ng-template>
        </ng-container>
        <ng-template #delegateResponsibility>
          <ng-container *ngIf="isDelegatingDamage; else delegatingDamageType">
            Delegate responsibility for damage
          </ng-container>
          <ng-template #delegatingDamageType>
            Delegate responsibility for damage type
          </ng-template>
        </ng-template>
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div *ngIf="institutionsList">
        <div *ngIf="institutionsList.length > 0; else noMoreInstitutions">
          <table class="table table-hover table-condensed" id="institutionsTable">
            <thead>
            <tr>
              <th>Name</th>
              <th>Street</th>
              <th>City</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let institution of institutionsList">
              <td>{{ institution.name }}</td>
              <td>{{ institution.address.street }} {{ institution.address.number }}</td>
              <td>{{ institution.address.city.name }}</td>
              <td>
                <button class="btn btn-delegate"
                        *ngIf="!setResponsibility || (setResponsibility && (isDelegatingDamage || (!isDelegatingDamage && damageTypeResponsibility.institutionId !== institution.id))); else currentInstitutionLabel"
                        (click)="delegateResponsibilityInstitution(institution.id)">
                  <span class="fa fa-send"></span> Delegate
                </button>
                <ng-template #currentInstitutionLabel>
                  <span>Current responsible</span>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="page-div">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>

        <ng-template #noMoreTenants>
          <h3>Sorry, there is no other institutions, <br>
            so you can't delegate your responsibility now! </h3>
        </ng-template>

      </div>
    </div>
  </div>
</div>
