td, th, tr {
  text-align: center;
  vertical-align: middle;
}

.fa{
  color: rgb(66, 139, 202);
}

a {
  cursor: hand;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.delegate-responsibility {
  float: right;
  margin-right: 10%;
}
