<div [ngClass]="{'modal-lg': !isTenant}">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title pull-left">
        <h4>{{ isTenant ? 'Damage types in building you are responsible person for:' :
          'Damage type responsibilities in building where you are president of council' }}</h4>
      </div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="!isTenant && damageTypeResponsibilityList">
        <table *ngIf="damageTypeResponsibilityList.length > 0; else noDamageResponsibilityInBuilding" class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>Damage type</th>
            <th>Responsible person</th>
            <th>Responsible institution</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dtr of damageTypeResponsibilityList">
            <td>{{ dtr.damageTypeName | damage_type_format }}</td>
            <td>
              <ng-container *ngIf="dtr.tenantId; else tenantExists">
                {{ dtr.tenantName }}
                <a (click)="setResponsibilityForTenant(dtr)">
                  <span class="fa fa-pencil"></span> Edit
                </a>
              </ng-container>
              <ng-template #tenantExists>
                <a (click)="setResponsibilityForTenant(dtr)">
                  <span class="fa fa-search"></span> Find tenant
                </a>
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="dtr.institutionId; else institutionExists">
                {{ dtr.institutionName }}
                <a (click)="setResponsibilityForInstitution(dtr)">
                  <span class="fa fa-pencil"></span> Edit
                </a>
              </ng-container>
              <ng-template #institutionExists>
                <a (click)="setResponsibilityForInstitution(dtr)">
                  <span class="fa fa-search"></span> Find institution
                </a>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
        <ng-template #noDamageResponsibilityInBuilding>
          There is still no responsibility for damage types in your building...
        </ng-template>
      </div>
      <div *ngIf="isTenant && damageTypeResponsibilityList" class="tenant-div">
        <ul *ngIf="damageTypeResponsibilityList.length > 0; else noDamageResponsibilityInLinst">
          <li *ngFor="let dtr of damageTypeResponsibilityList">
            <span>{{ dtr.damageTypeName | damage_type_format }} damages </span>
            <a class="delegate-responsibility" (click)="delegateResponsibility(dtr)">
              <span class="fa fa-share"></span> Delegate responsibility to other tenant
            </a>
          </li>
        </ul>
        <ng-template #noDamageResponsibilityInLinst>
          You are still not responsible for any damage type in your building...
        </ng-template>
      </div>
    </div>
  </div>
</div>
