span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.notification-metadata {
  color: gray;
}

.notification-title {
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding-left: 15px;
}

.notification-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

#notificationCreatorName {
  margin-right: 15px;
}

.container {
  margin-top: 25px;
}

div.notification-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.input-group-addon, .btn-search {
  background-color: rgb(66, 139, 202);
  color: white;
}

.btn-add, .btn-clear {
  color: white;
}

.btn-clear {
  background-color: #3c3c3c;
}

.btn > span.fa {
  color: white;
}

input[readonly] {
  background-color: white;
}

.row {
  margin-bottom: 10px;
}

.div-add {
  float: right;
}

#fromToDate, .div-page {
  text-align: center;
}

.search-group {
  width: 100%;
}

#messageEmptyList, #messageWithoutApartment {
  text-align: center;
  margin-top: 30px;
}
