<div class="container">
  <div *ngIf="jwtService.getApartmentIdFromToken() !== -1; else notConnectedToAnyapartment">

    <!-- start of search, filter for notification list-->
    <div class="row">

      <!-- start of date range input -->
      <div class="col-md-5 div-search">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input
            id="fromToDate"
            placeholder="From - To"
            type="text"
            class="form-control"
            [bsConfig]="bsConfig"
            [maxDate]="maxDate"
            (onHidden)="setTime()"
            bsDaterangepicker
            [(ngModel)]="daterangepickerModel"
            readonly>
          <span class="input-group-btn">
            <button class="btn btn-clear" type="button" (click)="reset()">
              <span class="fa fa-remove"></span> Clear
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-search" type="button" (click)="search()">
          <span class="fa fa-search"></span> Search
        </button>
      </div>
      <!-- end of date range input -->

      <!-- start of add button -->
      <div class="col-md-1 div-add">
        <button class="btn btn-add btn-warning" type="button" (click)="add()">
          <span class="fa fa-plus"></span> Add
        </button>
      </div>
      <!-- end of add button -->

    </div>
    <!-- end of search, filter for notification list-->

    <ng-container *ngIf="notificationList">
      <div *ngIf="notificationList.length > 0; else noNotificationsInList">
        <div id="notificationList">
          <div class="panel panel-default"
               *ngFor="let notification of notificationList">

            <!-- start of notification panel heading -->
            <div class="panel-heading">
              <div class="row">
                <div class="notification-title">
                  {{ notification.title }}
                </div>
                <div class="notification-menu" *ngIf="notification.creator.username === jwtService.getUsernameFromToken()">
                  <span class="fa fa-ellipsis-v" title="Edit or delete notification"
                      [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
                  <ng-template #popTemplate>
                    <div id="notificationPopover">
                      <div>
                        <a (click)="pop.hide(); edit(notification)">
                          <span class="fa fa-pencil"></span> Edit
                        </a>
                      </div>
                      <div>
                        <a (click)="pop.hide(); remove(notification)">
                          <span class="fa fa-trash"></span> Remove
                        </a>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="notification-metadata">
                <span class="fa fa-user"></span>
                <span id="notificationCreatorName">{{ notification.creator.firstName }} {{ notification.creator.lastName }}</span>
                <span class="fa fa-clock-o"></span>
                <span>{{ notification.date | dateTimeFormat }}</span>
              </div>
            </div>
            <!-- start of notification panel heading -->

            <!-- start of notification panel body -->
            <div class="panel-body">
              {{ notification.content }}
            </div>
            <!-- end of notification panel body -->

          </div>

          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>

      <ng-template #noNotificationsInList>
        <div id="messageEmptyList">
          <h4 *ngIf="!isSearchMode; else noNotificationInDateRange">There is still no notification on this billboard...</h4>
          <ng-template #noNotificationInDateRange>
            <h4>There is no notification in given date range on this billboard...</h4>
          </ng-template>
        </div>
      </ng-template>
    </ng-container>
  </div>

  <ng-template #notConnectedToAnyapartment>
    <div id="messageWithoutApartment">
      <h3>You are still not connected with any apartment, so you can't see any notifications...</h3>
    </div>
  </ng-template>
</div>
