<div *ngIf="jwtService.hasRole('ADMIN')">
  <app-admin-home></app-admin-home>
</div>
<div *ngIf="jwtService.hasRole('TENANT')">
  <app-tenant-home></app-tenant-home>
</div>
<div *ngIf="jwtService.hasRole('COMPANY') || jwtService.hasRole('INSTITUTION')">
  <app-damage-list [insideHomeComponent]="true"></app-damage-list>
</div>
