<div class="container" *ngIf="adminData">

  <div class="row" *ngIf="form">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-personal">
        Personal information
      </div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="save()" accept-charset="UTF-8">

          <div class="col-xs-6 form-left">
            <div class="form-group">
              <label for="firstName">First name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input
                  formControlName="firstName"
                  id="firstName"
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
                <div id="firstNameRequired" *ngIf="firstName.errors.required; else firstNameMinLength">
                  The first name is required!
                </div>
                <ng-template #firstNameMinLength>
                  <ng-container *ngIf="firstName.errors.minlength">
                    <div id="firstNameMinimumLength">
                      Minimum length is {{firstName.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Last name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user-o"></i>
                </div>
                <input
                  formControlName="lastName"
                  id="lastName"
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
                <div id="lastNameRequired" *ngIf="lastName.errors.required; else lastNameMinLength">
                  The last name is required!
                </div>
                <ng-template #lastNameMinLength>
                  <ng-container *ngIf="lastName.errors.minlength">
                    <div id="lastNameMinimumLength">
                      Minimum length is {{lastName.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

          </div>

          <div class="col-xs-6 form-right">
            <div class="form-group">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-id-badge"></i>
                </div>
                <input
                  formControlName="username"
                  id="username"
                  type="text"
                  class="form-control"
                  readonly
                  title="Username can't be changed!">
              </div>
            </div>

            <div class="form-group">
              <label for="currentPassword">Current password</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-unlock"></i>
                </div>
                <input
                  formControlName="currentPassword"
                  id="currentPassword"
                  type="password"
                  class="form-control">
              </div>
              <div *ngIf="currentPassword.invalid" class="alert alert-danger">
                <div *ngIf="currentPassword.errors.required" id="currentPasswordRequired">
                  The current password is required!
                </div>
              </div>
            </div>

            <div class="form-group" formGroupName="passwords">
              <div class="form-group">
                <label for="password">New password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
                  <input
                    formControlName="password"
                    id="password"
                    type="password"
                    class="form-control">
                </div>
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                  <div *ngIf="password.errors.required; else passwordMinLength" id="newPasswordRequired">
                    The password is required!
                  </div>
                  <ng-template #passwordMinLength>
                    <ng-container *ngIf="password.errors.minlength">
                      <div id="newPasswordMinLength">
                        Minimum length is {{password.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirmation of new password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
                  <input
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    type="password"
                    class="form-control">
                </div>
                <div *ngIf="confirmPassword.invalid" class="alert alert-danger">
                  <div *ngIf="confirmPassword.errors.required" id="confirmPasswordRequired">
                    The password confirmation is required!
                  </div>
                </div>
                <div *ngIf="password.touched && password.valid && confirmPassword.touched && confirmPassword.valid &&
                passwords.invalid && passwords.errors.matchPasswords" class="alert alert-danger" id="confirmPasswordNotMatch">
                  Passwords don't match!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 profile-button-div">
              <button class="btn save" type="submit" [disabled]="disableSaveOrReset || !form.valid">
                <span class="fa fa-check"></span> Save
              </button>
              <button class="btn reset" type="button" (click)="reset()" [disabled]="disableSaveOrReset">
                <span class="fa fa-times"></span> Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>




