span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.meeting-item-metadata {
  color: gray;
}

.meeting-item-title {
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding-left: 15px;
}

.meeting-item-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

#meetingItemCreatorName {
  margin-right: 15px;
}

.container {
  margin-top: 25px;
}

div.meeting-item-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.div-page, .buttons {
  text-align: center;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.panel-selected {
  border-color: rgb(255, 100, 90);
  border-width: 2px;
}

.label-add {
  background-color: rgb(100, 150, 100);
  text-align: center;
  color: white;
  float: right;
  width: 120px;
  height: 20px;
  border-radius: 2px;
  margin-top: -20px;
  cursor: hand;
  position: relative;
}

.label-remove {
  background-color: rgb(255, 100, 90);
  text-align: center;
  color: white;
  float: right;
  width: 120px;
  height: 20px;
  border-radius: 2px;
  margin-top: -20px;
  cursor: hand;
  position: relative;
}

.label-remove > span, .label-add > span {
  color: white;
}

#messageEmptyList {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
