<div class="modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <div class="modal-title pull-left">
        <h4>Choose meeting items for new meeting</h4>
      </div>
    </div>

    <div class="modal-body">

      <ng-container *ngIf="allMeetingItems">
        <div id="meetingItemsTable" *ngIf="allMeetingItems.length > 0; else noMeetingItemsInList">
          <div class="panel panel-default"
               *ngFor="let meetingItem of allMeetingItems"
               [ngClass]="{'panel-selected': selectedIds && selectedIds.indexOf(meetingItem.id) !== -1}">

            <!-- start of meeting-details item panel heading -->
            <div class="panel-heading">
              <div class="row">
                <div class="meeting-item-title">
                  {{ meetingItem.title }}
                </div>
                <div class="meeting-item-menu"
                     *ngIf="meetingItem.questionnaire">
                  <span class="fa fa-ellipsis-v" title="More options for meeting item"
                      [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
                  <ng-template #popTemplate>
                    <div>
                      <a (click)="pop.hide(); questionnaireReview(meetingItem)">
                        <span class="fa fa-info"></span> View questionnaire
                      </a>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="meeting-item-metadata">
                <span class="fa fa-user"></span>
                <span
                  id="meetingItemCreatorName">{{ meetingItem.creator.firstName }} {{ meetingItem.creator.lastName }}</span>
                <span class="fa fa-clock-o"></span>
                <span>{{ meetingItem.date | dateTimeFormat }}</span>
              </div>
            </div>
            <!-- start of meeting-details item panel heading -->

            <!-- start of meeting-details item panel body -->
            <div class="panel-body">
              {{ meetingItem.content }}
            </div>
            <!-- end of meeting-details item panel body -->

            <!-- start of damage description for selected meeting-details item -->
            <ul class="list-group">
              <li class="list-group-item" *ngIf="meetingItem.damageId">
                <b>This meeting item is related to damage with next description: </b> <br>
                {{ meetingItem.damageDescription }}
              </li>
            </ul>
            <div class="label-add" *ngIf="selectedIds && selectedIds.indexOf(meetingItem.id) === -1;"
                 (click)="select(meetingItem)">
              <span class="fa fa-check"></span> Select
            </div>
            <div class="label-remove" *ngIf="selectedIds && selectedIds.indexOf(meetingItem.id) !== -1;"
                 (click)="deselect(meetingItem)">
              <span class="fa fa-remove"></span> Deselect
            </div>
            <!-- end of damage description for selected meeting-details item -->

          </div>

          <div class="div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>

        <ng-template #noMeetingItemsInList>
          <div id="messageEmptyList">
            There is no meeting items...
          </div>
        </ng-template>

        <div class="buttons">
          <button *ngIf="allMeetingItems.length > 0" class="btn btn-save" type="button" [disabled]="disableSave" (click)="save()">Save</button>
          <button class="btn btn-warning" type="button" (click)="modalRef.hide()">Cancel</button>
        </div>

      </ng-container>
    </div>
  </div>
</div>
