.container {
  position:relative;
  z-index:2;
  width: 100%;
  height: 100%;
}

.panel-admin-registration {
  text-align: center;
  background: none;
  margin-top: 25%;
}

.panel-body {
  background-color: rgba(31, 28, 28, 0.7);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.panel-heading {
  background-color: rgba(66, 139, 202, 0.7);
  color: white;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.panel-title {
  font-size: 20px;
}

.btn {
  background-color: rgb(66, 139, 202);
  color: white;
}

.admin-registration-background {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:url('../../../assets/images/admin-registration.jpg');
  background-size:cover;
  z-index:1;
  filter: blur(1px);
}

input.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.link-admins-page {
  color: white;
}

.link-admins-page > a {
  color: rgb(66, 139, 202);
  font-weight: bold;
}
