<div class="container">
  <div class="row">
    <div>
      <div class="row"><strong id="headingBuildings"> Buildings </strong></div>
      <!-- start of filter input -->
      <div class="row">
        <div class="col col-lg-4" id="searchDiv">
          <div class="row">
            <label id="cityLabel">Ime grada:</label>
            <input id="searchInput" type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
            <button type="button" class="btn btn-default" id="searchButton" (click)="searchByCity(searchText)">
              <i class="fa fa-search"></i>&nbsp;&nbsp;Search
            </button>

          </div>
        </div>

        <!-- end of filter  input -->
        <!-- start of add button -->
        <div class="col-md-1 div-add">
          <button class="btn btn-add btn-warning" type="button" (click)="registerBuilding()">
            <span class="fa fa-plus"></span> Add
          </button>
        </div>
        <!-- end of add button -->
      </div>
      <div *ngIf="buildingsList">
        <div *ngIf="buildingsList.length > 0; else noElements">
          <table class="table table-hover table-condensed" id="buildingsTable">
            <thead>
            <tr>
              <th><i class="fa fa-building"></i> Id</th>
              <th><i class="fa fa-globe"></i> City</th>
              <th><i class="fa fa-location-arrow"></i> Street</th>
              <th><i class="fa fa-bullseye"></i> Number</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let building of buildingsList">
              <td>{{building.id}}</td>
              <td>{{building.address.city.name}}</td>
              <td>{{building.address.street}}</td>
              <td>{{building.address.number}}</td>
              <ng-container *ngIf="jwtService.hasRole('ADMIN')">
                <td>
                  <button type="button" class="btn btn-danger" (click)="deleteBuilding(building)">
                    <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                  </button>
                </td>
              </ng-container>

              <td>
                <button type="button" class="btn btn-default" (click)="moreDetails(building)">
                  <i class="fa fa-search-plus"></i>&nbsp;&nbsp;More
                </button>
              </td>
              <td>
                <ng-container *ngIf="jwtService.hasRole('ADMIN')">
                  <button type="button" class="btn btn-success"
                          *ngIf="!building.presidentOfCouncil && !building.responsibleCompany"
                          (click)="addPresident(building)">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;President
                  </button>
                </ng-container>
                <ng-container *ngIf="jwtService.hasRole('COMPANY')">
                  <button type="button" class="btn btn-success" *ngIf="!building.presidentOfCouncil"
                          (click)="addPresident(building)">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;President
                  </button>
                </ng-container>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
        <ng-template #noElements>
          <h3 id="noElements">Sorry, there are no buildings! </h3>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
