.fa{
  color: rgb(66, 139, 202);
}

.fa-trash, .fa-check-square-o, .fa-plus-square, .fa-plus{
  color: white;
}

.container{
  text-align: center;
  padding-top: 2%;
}

tr, td, th{
  text-align: center;
}

.row{
  margin: auto;
}

#headingBuildings{
  font-size: large;
  padding-top: 2%;
  margin-bottom: 5%;
  margin-top: 15%;
}

#buildingsTable{
  padding-top: 5%;
}

#buildingsTable thead{
  text-align: center;
}

.sort-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  padding: 0%;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

#buildingsTable thead th span {
  visibility: hidden;
}

#buildingsTable thead th.active span {
  visibility: visible;
}

.dropdown-menu {
  padding-left: 10px;
}

.dropdown-menu > li {
  cursor: hand;
}

.div-add {
  float: right;
}

#searchDiv{
  margin-bottom: 2%;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: 0%;
  width: 90%;
}

.btn-add {
  color: white;
}


.search-group {
  width: 40%;
}

#cityLabel{
  width: 10%;
  float: left;
  margin: 0%;
  padding: 0%;
}

.form-control{
  width: 40%;
  float: left;
}

#searchButton{
  float: left;
}

.modal-content{
  width: 100%;
}

