<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Business to send email to</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="businesses && businesses.length > 0; else noBusinesses">
        <table class="table table-hover table-condensed" style="table-layout: fixed">
          <thead>
          <tr>
            <th> Business name</th>
            <th> City</th>
            <th> Address</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let business of businesses">
            <td>{{ business.name }}</td>
            <td>{{ business.address.city.name }}</td>
            <td>{{ business.address.street + " " + business.address.number }}</td>
            <td>
              <button type="button" class="btn"
                      [ngClass]="businessInList(business) == -1 ? 'btn-send-request' : 'btn-remove-request'"
                      (click)="addToRequestList(business)">
                <i [ngClass]="businessInList(business) == -1 ? 'fa fa-check' : 'fa fa-remove'"></i>&nbsp;&nbsp;
                {{businessInList(business) == -1 ? 'Send request' : 'Delete request'}}
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="div-page">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                      [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>

      <ng-template #noBusinesses>
          <div>
            <h4>
              There are currently no bussinesses avaliable to select!
            </h4>
          </div>
      </ng-template>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-send-offers" (click)="sendAllOffers()">Send offers</button>
      <button type="button" class="btn btn-warning" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
