.div-page{
  text-align:center;
}

.btn-send-offers {
  background-color: rgb(100, 150, 100);
}

.btn-choose {
  background-color: rgb(66, 139, 202);
}

td, th, tr {
  text-align: center;
  vertical-align: middle;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.btn-send-request {
  background-color: rgb(66, 139, 202);
}

.btn-remove-request {
  background-color: rgb(255, 100, 90);
}

.btn {
  color: white;
}
