<div class="container" *ngIf="businessData">

  <div class="row" *ngIf="businessData.address">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-heading-location">
          <span class="fa fa-map-marker"></span> Location of my business
        </div>
        <div>
          <div><b>Street:</b> {{ businessData.address.street }} {{ businessData.address.number }}</div>
          <div><b>City:</b> {{ businessData.address.city.name }}, {{ businessData.address.city.postalNumber }}</div>
        </div>
      </div>
      <div class="panel-body">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="form">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-personal">
        Personal information
      </div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="register()" accept-charset="UTF-8">

          <div class="col-xs-6 form-left">

            <div class="col-xs-6 form-right">
              <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="username"
                    id="username"
                    type="text"
                    class="form-control"
                    readonly
                    title="Username can't be changed!">
                </div>
              </div>


              <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="name"
                    id="name"
                    placeholder="name..."
                    type="text"
                    class="form-control">
                  <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                    <div *ngIf="name.errors.required; else firstNameMinLength">
                      The name is required!
                    </div>
                    <ng-template #firstNameMinLength>
                      <ng-container *ngIf="name.errors.minlength">
                        Minimum length is {{name.errors.minlength.requiredLength}} characters.
                      </ng-container>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="email"
                    id="email"
                    placeholder="email..."
                    type="text"
                    class="form-control">
                  <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    <div *ngIf="email.errors.required; else emailPattern">
                      The email is required!
                    </div>
                    <ng-template #emailPattern>
                      <ng-container *ngIf="email.errors.email">
                        Please provide a valid email address.
                      </ng-container>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="phoneNumber"
                    id="phoneNumber"
                    placeholder="phone number..."
                    type="text"
                    class="form-control">
                  <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
                    <div *ngIf="phoneNumber.errors.required; else phoneNumberContainsSpace">
                      The phone number is required!
                    </div>
                    <ng-template #phoneNumberContainsSpace>
                      <ng-container *ngIf="phoneNumber.errors.cannotContainSpace; else phoneNumberPattern">
                        The phone number can't contain space.
                      </ng-container>
                    </ng-template>
                    <ng-template #phoneNumberPattern>
                      <ng-container *ngIf="phoneNumber.errors.pattern">
                        The phone must contain between 6 and 10 numbers.
                      </ng-container>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="businessType">Type of business</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <div class="dropdown">
                    <select
                      id="businessType"
                      class="form-control"
                      (change)="onChange($event.target.value)">
                      <option *ngFor="let name of businessTypes;"
                              [selected]="(businessData != null && businessData.businessType === name) || (i === 0)"
                              [value]="name">{{name | business_type}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>


              <button class="btn btn-primary account" type="button" (click)="displayAddUser()">Manage accounts
              </button>
            </div>

            <div class="col-xs-6 form-right">


              <div class="form-group">
                <label for="street">Street</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="street"
                    id="street"
                    placeholder="street..."
                    type="text"
                    class="form-control">
                  <div *ngIf="street.touched && street.invalid" class="alert alert-danger">
                    <div *ngIf="street.errors.required; else descriptionMinLength">
                      The street is required!
                    </div>
                    <ng-template #descriptionMinLength>
                      <ng-container *ngIf="street.errors.minlength">
                        Minimum length is {{street.errors.minlength.requiredLength}} characters.
                      </ng-container>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="number">Number</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="number"
                    id="number"
                    placeholder="street number..."
                    type="text"
                    class="form-control">
                  <div *ngIf="number.touched && number.invalid" class="alert alert-danger">
                    <div *ngIf="number.errors.required; else numberContainsSpace">
                      The number is required!
                    </div>
                    <ng-template #numberContainsSpace>
                      <ng-container *ngIf="number.errors.cannotContainSpace; else numberPattern">
                        The number can't contain space.
                      </ng-container>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="city">City</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="city"
                    id="city"
                    placeholder="city..."
                    type="text"
                    class="form-control">
                  <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
                    <div *ngIf="city.errors.required;">
                      The city is required!
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <input
                    formControlName="postalCode"
                    id="postalCode"
                    placeholder="postal code..."
                    type="text"
                    class="form-control">
                  <div *ngIf="postalCode.touched && postalCode.invalid" class="alert alert-danger">
                    <div *ngIf="postalCode.errors.required; else postalCodePattern">
                      Postal Code is required
                    </div>
                    <ng-template #postalCodePattern>
                      <ng-container *ngIf="postalCode.errors.pattern">
                        The postal code must contain exactly 5 digits
                      </ng-container>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-id-badge"></i>
                  </div>
                  <textarea
                    class="form-control"
                    rows="5"
                    formControlName="description"
                    id="description"
                    placeholder="description..."></textarea>
                  <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
                    <div *ngIf="description.errors.required; else descriptionLength">
                      Description is required
                    </div>
                    <ng-template #descriptionLength>
                      <ng-container *ngIf="description.errors.minlength">
                        Minimum length is {{description.errors.minlength.requiredLength}} characters.
                      </ng-container>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>

            <br/>
            <br/>
            <br/>
            <div class="form-group">
              <div class="col-xs-12">
                <button class="btn save" type="submit" [disabled]="!form.valid || (logins.length <= 0)">Register
                </button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>



