.div-page, #messageEmptyList {
  text-align: center;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.panel-urgent {
  border-color: rgb(255, 100, 90)!important;
  border-width: 2px;
}

.panel-fixing {
  border-color: rgb(66, 139, 202);
  border-width: 2px;
}

.panel-both .label-fixing {
  margin-right: 0px!important;
}

.label-urgent {
  background-color: rgb(255, 100, 90);
  text-align: center;
  color: white;
  float: right;
  width: 60px;
  height: 20px;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: -15px;
  margin-right: -15px;
}

.label-fixing {
  background-color: rgb(66, 139, 202);
  text-align: center;
  color: white;
  float: right;
  width: 120px;
  height: 20px;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: -15px;
  margin-right: -15px;
}

.damage-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

div.damage-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

#messageEmptyList {
  margin-top: 15px;
}
