<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Damages you are responsible for</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div *ngIf="damageList">
        <div *ngIf="damageList.length > 0; else noDamagesInList">
          <div id="damageList">
            <div class="panel panel-default" *ngFor="let damage of damageList"
                 [ngClass]="{'panel-urgent': damage.urgent, 'panel-fixing': damage.selectedBusiness,
                 'panel-both': damage.urgent && damage.selectedBusiness}">

              <!-- start of damage panel heading -->
              <div class="panel-heading">
                <div class="damage-metadata">
                  <span class="fa fa-user"></span>
                  <span
                    id="damageCreatorName">{{ damage.creator.firstName }} {{ damage.creator.lastName }}</span>
                  <span class="fa fa-clock-o"></span>
                  <span>{{ damage.date | dateTimeFormat }}</span>
                  <div class="damage-menu">
                    <span class="fa fa-ellipsis-v"
                        [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
                    <ng-template #popTemplate>
                      <a (click)="pop.hide(); chooseDamage(damage)">
                        <span class="fa fa-check"></span> Choose
                      </a>
                    </ng-template>
                  </div>
                </div>
              </div>
              <!-- start of damage panel heading -->

              <!-- start of damage panel body -->
              <div class="panel-body">
                <p class="damage-type-paragraph"><b>Type:</b> {{ damage.typeName | damage_type_format }} </p>
                <p class="damage-description-paragraph"><b>Description</b></p>
                <p>{{ damage.description }}</p>
                <div class="label-urgent" *ngIf="damage.urgent">
                  <b>Urgent</b>
                </div>
                <div class="label-fixing" *ngIf="damage.selectedBusiness">
                  <b>In fixing process</b>
                </div>
              </div>
              <!-- end of damage panel body -->

            </div>

            <div class="div-page">
              <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                          [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;"
                          nextText="&rsaquo;"
                          firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noDamagesInList>
        <div id="messageEmptyList">
          <h4>There is no damages you are responsible person for...</h4>
        </div>
      </ng-template>
    </div>
  </div>
</div>
