<div class="container">
  <div class="row row-title">
    <h3> Records for finished meetings </h3>
  </div>

  <div *ngIf="recordList" class="record-list">
    <ng-container *ngIf="recordList.length > 0; else noRecords">
      <div class="panel panel-default" *ngFor="let record of recordList">

        <!-- start of record panel heading -->
        <div class="panel-heading">
          <div class="record-metadata">
            Record for meeting in: <span class="record-date">{{ record.meetingDate | dateTimeFormat }}</span>
            <div class="record-menu">
              <span class="fa fa-ellipsis-v" title="More options for record"
                  [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
              <ng-template #popTemplate>
                <div id="recordPopover">
                  <a id="recordDetails" (click)="details(record)">
                    <span class="fa fa-info"></span> Details
                  </a>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <!-- start of record panel heading -->

        <!-- start of record panel body -->
        <div class="panel-body">
          {{ record.content }}
        </div>
        <!-- end of record panel body -->

      </div>

      <div class="col-md-12 div-page">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                    [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                    firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </ng-container>

    <ng-template #noRecords>
      <div class="no-records-div">
        <h4>There is no records for finished meetings...</h4>
      </div>
    </ng-template>
  </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
