span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.record-metadata {
  color: gray;
}

.record-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

div.record-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.record-date {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

div a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.container, .record-list {
  padding-top: 2%;
}

.no-records-div {
  text-align: center;
  margin-top: 30px;
}

.row-title, .div-page {
  text-align: center;
}


