span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.meeting-item-in-meeting-metadata {
  color: gray;
}

.meeting-item-in-meeting-title {
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding-left: 15px;
}

.meeting-item-in-meeting-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

#meetingItemInMeetingCreatorName {
  margin-right: 15px;
}

div.meeting-item-in-meeting-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.page-title {
  margin-bottom: 30px;
  text-align: center;
}

.row div, .no-meeting-items {
  font-size: 16px;
}

.div-page {
  text-align: center;
}

.meeting-item-list {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.no-meeting-items {
  text-align: center;
}
