<div class="container col-md-offset-1 col-md-10">

  <!-- start of title -->
  <div class="page-title">
    <h3>Meeting details</h3>
  </div>
  <!-- end of title -->

  <!-- start of display meeting-details info -->
  <div *ngIf="meeting" class="meeting-info">

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <b>Date and time:</b> {{ meeting.date | dateTimeFormat }}
      </div>
      <div class="col-md-3">
        <b>Duration (in minutes):</b> {{ meeting.duration }}
      </div>
    </div>

    <ng-container *ngIf="meetingItemList">
      <div class="meeting-item-list">
        <h4>Meeting items for this meeting:</h4>
      </div>
      <div id="meetingItemsList" *ngIf="meetingItemList.length > 0; else meetingItemListEmpty">
        <div class="panel panel-default"
             *ngFor="let meetingItem of meetingItemList">

          <!-- start of meeting-details item panel heading -->
          <div class="panel-heading">
            <div class="row">
              <div class="meeting-item-in-meeting-title">
                {{ meetingItem.title }}
              </div>
              <div class="meeting-item-in-meeting-menu" *ngIf="meetingItem.questionnaire">
                <span class="fa fa-ellipsis-v" title="More options for meeting item"
                  [popover]="popTemplate" placement="left" [outsideClick]="true" #popMeeting="bs-popover"></span>
                <ng-template #popTemplate>
                  <div>
                    <a (click)="popMeeting.hide(); viewQuestionnaire(meetingItem)">
                      <span class="fa fa-info"></span> View questionnaire
                    </a>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="meeting-item-in-meeting-metadata">
              <span class="fa fa-user"></span>
              <span
                id="meetingItemInMeetingCreatorName">{{ meetingItem.creator.firstName }} {{ meetingItem.creator.lastName }}</span>
              <span class="fa fa-clock-o"></span>
              <span>{{ meetingItem.date | dateTimeFormat }}</span>
            </div>
          </div>
          <!-- start of meeting-details item panel heading -->

          <!-- start of meeting-details item panel body -->
          <div class="panel-body">
            {{ meetingItem.content }}
          </div>
          <!-- end of meeting-details item panel body -->

          <!-- start of damage description for selected meeting-details item -->
          <ul class="list-group">
            <li class="list-group-item" *ngIf="meetingItem.damageId">
              <b>This meeting item is related to damage with next description: </b> <br>
              {{ meetingItem.damageDescription }}
            </li>
          </ul>
          <!-- end of damage description for selected meeting-details item -->

        </div>

        <div class="col-md-12 div-page">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                      [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>

      <ng-template #meetingItemListEmpty>
        <div class="no-meeting-items">
          <span>There is no meeting items for this meeting...</span>
        </div>
      </ng-template>

    </ng-container>
  </div>
  <!-- end of display meeting-details info -->

</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
