.fa{
  color: rgb(66, 139, 202);
}

.fa-trash, .fa-check-square-o{
  color: white;
}

.container{
  text-align: center;
  padding-top: 2%;
}

.row{
  margin: auto;
}

#heading{
  font-size: large;
  padding-top: 2%;
  margin-bottom: 5%;
}

#tenantsTable{
  padding-top: 5%;
}

#tenantsTable thead{
  text-align: center;
}

tr, td, th{
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

#tenantsTable thead th span {
  visibility: hidden;
}

#tenantsTable thead th.active span {
  visibility: visible;
}

.dropdown-menu {
  padding-left: 10px;
}

.dropdown-menu > li {
  cursor: hand;
}

#searchDiv{
  margin-bottom: 2%;
  padding-left: 0%;
}
