<div class="container">
  <div class="row">
    <div>
      <div class="row"><strong id="heading"> Tenants </strong></div>
      <!-- start of filter input -->
      <div class="row">
        <div class="col col-lg-1" id="searchDiv">
          <div class="input-group">
            <div class="input-group-btn" dropdown>
              <button type="button" class="btn btn-default" id="dropdownButton" dropdownToggle>
                <span>{{ selectedSort }}</span>
                <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu">
                <li *ngFor="let sort of sortList" (click)="setSort(sort)">{{ sort }}</li>
              </ul>
              <button class="btn btn-success" type="button" (click)="callSort()">
                Sort
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of filter  input -->

      <div *ngIf="tenantList">
        <div *ngIf="tenantList.length > 0; else noElements">
          <table class="table table-hover table-condensed" id="tenantsTable">
            <thead>
            <tr>
              <th><i class="fa fa-user"></i> First name</th>
              <th><i class="fa fa-user-o"></i> Last name</th>
              <th><i class="fa fa-id-badge"></i> Username</th>
              <th><i class="fa fa-birthday-cake"></i> Birthday</th>
              <th><i class="fa fa-envelope"></i> Email</th>
              <th><i class="fa fa-phone"></i> Phone number</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tenant of tenantList">
              <td>{{tenant.firstName}}</td>
              <td>{{tenant.lastName}}</td>
              <td>{{tenant.username}}</td>
              <td>{{tenant.birthDate | date: 'dd/MM/yyyy'}}</td>
              <td>{{tenant.email}}</td>
              <td>{{tenant.phoneNumber}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteTenant(tenant)">
                  <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-default" (click)="moreDetails(tenant)">
                  <i class="fa fa-search-plus"></i>&nbsp;&nbsp;More
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-success" *ngIf="!tenant.confirmed" (click)="confirmTenant(tenant)">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Confirm
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
        <ng-template #noElements>
          <h3>Sorry, there are no tenants! </h3>
        </ng-template>
      </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
