.vote-check {
  padding-left: 20px!important;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.question-list {
  max-height: 500px;
  overflow:scroll;
  overflow-x:hidden;
}

.buttons {
  text-align: center;
  color: white;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}
