<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Your vote for this questionnaire</h4>
    </div>

    <div class="modal-body" *ngIf="questionnaire">

      <!-- start questions list review -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Questions:</h4>
        </div>
        <ul class="list-group question-list">
          <li class="list-group-item" *ngFor="let question of questionnaire.questions; index as idx">
            <span><b> {{ question.content | questionContent }} </b></span> <br>
            <ng-container>
              <table>
                <tr *ngFor="let answer of question.answers; index as i">
                  <td>{{ answer }} </td>
                  <td class="vote-check">
                    <input type="radio" id=idx
                           [checked]="answer === voteList.questionVotes[idx].answer"
                           [value]="answer"
                           (change)="onSelectionChange(answer, idx)">
                  </td>
                </tr>
              </table>
            </ng-container>
          </li>
        </ul>
      </div>
      <!-- end question list review -->

      <div class="buttons">
        <button class="btn btn-save" type="button" (click)="save()">Save</button>
        <button class="btn btn-reset" type="button" [disabled]="disableReset" (click)="reset()">Reset</button>
        <button class="btn btn-warning" type="button" (click)="this.modalRef.hide()">Cancel</button>
      </div>

    </div>

  </div>
</div>
