.building-registration-background {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:url('../../../assets/images/business-registration.jpg');
  background-size:cover;
  z-index:1;
  filter: blur(1px);
  background-attachment: fixed;
}

.container {
  position:relative;
  z-index:2;
  width: 80%;
  height: 50%;
}

.panel-building-registration {
  text-align: center;
  background: none;
  margin-top: 1%;
}

.panel-body {
  background-color: rgba(31, 28, 28, 0.7);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.panel-heading {
  background-color: rgba(66, 139, 202, 0.7);
  color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.panel-title {
  font-size: 20px;
}

.btn {
  background-color: rgb(66, 139, 202);
  color: white;
}

input.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.form-control{
  margin: 5px;
}

.btn.save {
  margin-top: 30px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

li {
  text-align: left;
  color: white;
}

.account-header{
  color: white;
  font-size: 16px;
}

.btn.btn-xs.danger{
  background-color: rgb(255, 100, 90);
}

#radioParking, #numberOfFloors{
  color: white;
}

.row{
  align-items: center;
}

.form-center{
  margin-top:5%;
}

.scrollable-menu {
  height: auto;
  width: 100%;
  max-height: 100px;
  overflow-x: hidden;

}

#initialFloor{
  width: 100%;
}


.dropdown-menu > li {
  cursor: hand;
  color: black;
}

#apartTable{
  color: white;
  width: 100%;
}

#apartTable thead{
  text-align: center;
}

tr, td, th{
  text-align: center;
}

thead th {
  width: 33%;
  margin-right: 15px;
  margin-left: 15px;
}

#apartTable thead th span {
  visibility: hidden;
}

#apartTable thead th.active span {
  visibility: visible;
}

#managerTable{
  color: white;
}
