<div class="building-registration-background"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-building-registration">

          <div class="panel-heading">
            <h3 class="panel-title">Please fill the form</h3>
          </div>
          <div class="panel-body">
              <form [formGroup]="form" accept-charset="UTF-8">

                <div class="form-group">
                    <label id="numberOfFloors">Number of floors: </label>
                    <div class="input-group">
                      <div class="input-group-btn" dropdown>

                        <button type="button" class="btn btn-default" id="initialFloor" dropdownToggle>
                          <span>{{ numberOfFloors }}</span>
                          <span class="caret"></span>
                        </button>
                          <ul *dropdownMenu class="dropdown-menu scrollable-menu">
                            <li  *ngFor="let floor of floorsList" (click)="setFloors(floor)">{{ floor }}</li>
                          </ul>
                      </div>
                  </div>
                </div>

                <div class="form-group"  id="radioParking">
                      <label>Has parking: </label>
                      <form>
                          <label class="radio-inline"><input type="radio" name="optradio" checked="checked" (click)="hasParking(true)">Yes</label>
                          <label class="radio-inline"><input type="radio" name="optradio" (click)="hasParking(false)">No</label>
                      </form>
                </div>

                <div class="">
                  <span class="account-header">Apartments</span>
                  <ol>
                    <table id="apartTable" *ngIf="apartments != null">
                      <thead>
                      <tr>
                        <th>Number</th>
                        <th>Floor</th>
                        <th>Surface</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let apart of apartments" style="list-style: none">
                        <td>{{apart.number}}</td>
                        <td>{{apart.floor}}</td>
                        <td>{{apart.surface}}</td>
                        <span style="float: right;"><a (click)="removeApartment(apart)"
                                                       data-original-title="Delete apartment" data-toggle="tooltip"
                                                       type="button" class="btn btn-xs danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        </a></span>
                      </tr>
                      </tbody>
                    </table>
                  </ol>
                  <button class="btn btn-primary account" type="button" (click)="displayAddApartment()">Add new apartment
                  </button>
                </div>



                <div class="form-center">
                  <div class="form-group">
                    <input
                      formControlName="street"
                      id="street"
                      placeholder="street..."
                      type="text"
                      class="form-control">
                    <div *ngIf="street.touched && street.invalid" class="alert alert-danger">
                      <div id="streetRequiredError" *ngIf="street.errors.required; else descriptionMinLength">
                        The street is required!
                      </div>
                      <ng-template #descriptionMinLength>
                        <ng-container *ngIf="street.errors.minlength">
                          <div id="streetMinLengthError">
                            Minimum length is {{street.errors.minlength.requiredLength}} characters.
                          </div>
                        </ng-container>
                      </ng-template>
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      formControlName="number"
                      id="number"
                      placeholder="street number..."
                      type="text"
                      class="form-control">
                    <div *ngIf="number.touched && number.invalid" class="alert alert-danger">
                      <div id="numberRequiredError" *ngIf="number.errors.required; else numberContainsSpace">
                        The number is required!
                      </div>
                      <ng-template #numberContainsSpace>
                        <ng-container *ngIf="number.errors.cannotContainSpace; else numberPattern">
                          <div id="numberSpaceError">
                            The number can't contain space.
                          </div>
                        </ng-container>
                      </ng-template>
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      formControlName="city"
                      id="city"
                      placeholder="city..."
                      type="text"
                      class="form-control">
                    <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
                      <div id="cityRequiredError" *ngIf="city.errors.required;">
                        The city is required!
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      formControlName="postalCode"
                      id="postalCode"
                      placeholder="postal code..."
                      type="text"
                      class="form-control">
                    <div *ngIf="postalCode.touched && postalCode.invalid" class="alert alert-danger">
                      <div id="postalCodeRequiredError" *ngIf="postalCode.errors.required; else postalCodePattern">
                        Postal code is required!
                      </div>
                      <ng-template #postalCodePattern>
                        <ng-container *ngIf="postalCode.errors.pattern">
                          <div id="postalCodeLengthError">
                            The postal code must contain exactly 5 digits.
                          </div>
                        </ng-container>
                      </ng-template>
                    </div>
                  </div>
                </div>

                <div class="">
                  <span class="account-header">Manager</span>
                  <ol>
                    <table id="managerTable" *ngIf="manager.length != 0">
                      <thead>
                      <th></th>
                      <th></th>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{manager[0].name}}</td>
                        <td>
                          <span style="float: right;"><a (click)="removeManager(manager)"
                                                         data-original-title="Delete manager" data-toggle="tooltip"
                                                         type="button" class="btn btn-xs danger">
                          <i class="glyphicon glyphicon-trash"></i>
                          </a></span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </ol>
                  <button *ngIf="manager.length == 0" class="btn btn-primary account" type="button" (click)="displayAddManager()">Choose manager
                  </button>
                </div>

                <div class="col-xs-12">
                  <button class="btn save" type="submit" [disabled]="!form.valid" (click)="registerBuilding()">Register</button>
                </div>
              </form>

          </div>
        </div>
      </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
