<div class="container">
  <div class="row">
    <div>
      <div class="row"><strong id="headingInstitutions"> Institutions </strong></div>
      <!-- start of filter input -->
      <div class="row">
        <div class="col col-lg-1" id="searchDiv">
          <div class="row">
            <div class="input-group">
              <div class="input-group-btn" dropdown>
                <button type="button" class="btn btn-default" id="dropdownButtonInstitution" dropdownToggle>
                  <span>{{ selectedSortInstitutions }}</span>
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu">
                  <li *ngFor="let sort of sortListInstitutions" (click)="setSortInst(sort)">{{ sort }}</li>
                </ul>
                <button class="btn btn-success" type="button" id="sortInstitution" (click)="callSortInst()">
                  Sort
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- start of add button -->
        <div class="col-md-1 div-add">
          <button class="btn btn-add btn-warning" id="registerInstitution" type="button" (click)="registerInstitution()">
            <span class="fa fa-plus"></span> Add
          </button>
        </div>
        <!-- end of add button -->
      </div>
      <div *ngIf="institutionList">
        <div *ngIf="institutionList.length > 0; else noElements">
          <table class="table table-hover table-condensed" id="institutionsTable">
            <thead>
            <tr>
              <th><i class="fa fa-user"></i> Name </th>
              <th><i class="fa fa-envelope"></i> Email </th>
              <th><i class="fa fa-phone"></i> Phone number</th>
              <th><i class="fa fa-wrench"></i> Business Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inst of institutionList">
              <td>{{inst.name}}</td>
              <td>{{inst.email}}</td>
              <td>{{inst.phoneNumber}}</td>
              <td>{{inst.businessType | business_type}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteInstitution(inst)">
                  <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-default" (click)="moreDetails(inst)">
                  <i class="fa fa-search-plus"></i>&nbsp;&nbsp;More
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-success" *ngIf="!inst.confirmed" (click)="confirmInstitution(inst)">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Confirm
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItemsInst" [(ngModel)]="currentPageInst" [maxSize]="maxSizeInst"
                        [itemsPerPage]="itemsPerPageInst" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChangedInst($event)" id="paginationInstitution">
            </pagination>
          </div>
        </div>
        <ng-template #noElements>
          <h3>Sorry, there are no institutions! </h3>
        </ng-template>
      </div>
    </div>

    <div>
      <div class="row"><strong id="headingFirms"> Firms </strong></div>
      <!-- start of filter input -->
      <div class="row">
        <div class="col col-lg-1" id="searchDivFirm">
          <div class="input-group">
            <div class="input-group-btn" dropdown>
              <button type="button" class="btn btn-default" id="dropdownButtonFirms" dropdownToggle>
                <span>{{ selectedSortFirm }}</span>
                <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" id="dropdownMenuFirms">
                <li *ngFor="let sort of sortListFirms" (click)="setSortFirm(sort)">{{ sort }}</li>
              </ul>
              <button class="btn btn-success" type="button" id="sortFirms" (click)="callSortFirm()">
                Sort
              </button>
            </div>
          </div>
        </div>

        <!-- end of filter  input -->
        <!-- start of add button -->
        <div class="col-md-1 div-add">
          <button class="btn btn-add btn-warning" id="registerFirm" type="button" (click)="registerFirm()">
            <span class="fa fa-plus"></span> Add
          </button>
        </div>
        <!-- end of add button -->
      </div>
      <div *ngIf="firmsList">
        <div *ngIf="firmsList.length > 0; else noElements">
          <table class="table table-hover table-condensed" id="firmsTable">
            <thead>
            <tr>
              <th><i class="fa fa-user"></i> Name</th>
              <th><i class="fa fa-envelope"></i> Email</th>
              <th><i class="fa fa-phone"></i> Phone number</th>
              <th><i class="fa fa-wrench"></i> Business Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let firm of firmsList">
              <td>{{firm.name}}</td>
              <td>{{firm.email}}</td>
              <td>{{firm.phoneNumber}}</td>
              <td>{{firm.businessType | business_type}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteFirm(firm)">
                  <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-default" (click)="moreDetails(firm)">
                  <i class="fa fa-search-plus"></i>&nbsp;&nbsp;More
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-success" *ngIf="!firm.confirmed" (click)="confirmFirm(firm)">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Confirm
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)" id="paginationFirm">
            </pagination>
          </div>
        </div>
        <ng-template #noElements>
          <h3>Sorry, there are no firms! </h3>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
