.fa{
  color: rgb(66, 139, 202);
}

.fa-trash, .fa-check-square-o, .fa-plus-square, .fa-plus{
  color: white;
}

.container{
  text-align: center;
  padding-top: 2%;
}

tr, td, th{
  text-align: center;
}

.row{
  margin: auto;
}

#headingInstitutions, #headingFirms{
  font-size: large;
  padding-top: 2%;
  margin-bottom: 5%;
  margin-top: 15%;
}

#institutionsTable, #firmsTable{
  padding-top: 5%;
}

#institutionsTable thead, #firmsTable thead{
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}
#institutionsTable thead th span {
  visibility: hidden;
}

#institutionsTable thead th.active span {
  visibility: visible;
}

#firmsTable thead th span {
  visibility: hidden;
}

#firmsTable thead th.active span {
  visibility: visible;
}

.dropdown-menu {
  padding-left: 10px;
}

.dropdown-menu > li {
  cursor: hand;
}

.div-add {
  float: right;
}

#searchDiv, #searchDivFirm{
  margin-bottom: 2%;
  padding-left: 0%;
}



