<div class="modal-body text-center">
  <p>Are you sure?</p>
  <button type="button" class="btn btn-confirm" (click)="confirm()">Yes</button>
  <button type="button" class="btn btn-decline" (click)="decline()">No</button>
</div>
