<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">List of all tenants</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="tenants">
        <div *ngIf="tenants.length > 0; else noElements">
          <table class="table table-hover table-condensed" id="tenantsTable">
            <thead>
            <tr>
              <th class="text-center"><i class="fa fa-user"></i> First name</th>
              <th class="text-center"><i class="fa fa-user-o"></i> Last name</th>
              <th class="text-center"><i class="fa fa-id-badge"></i> Username</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let tenant of tenants">
              <td>{{tenant.firstName}}</td>
              <td>{{tenant.lastName}}</td>
              <td>{{tenant.username}}</td>
              <td>
                <button type="button" class="btn btn-info" (click)="chooseTenant(tenant)">
                  <i class="fa fa-check"></i>&nbsp;&nbsp;Choose
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItemsTenant" [(ngModel)]="currentPageTenant" [maxSize]="maxSizeTenant"
                        [itemsPerPage]="itemsPerPageTenant" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)" id="pagination"></pagination>
          </div>
        </div>
        <ng-template #noElements>
          <h3>Sorry, there are no tenants! </h3>
        </ng-template>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</div>
