.date-expired {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

span.fa {
  color: rgb(66, 139, 202);;
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.container {
  margin-top: 15px;
}

.title {
  margin-bottom: 30px;
}

.title, .div-page {
  text-align: center;
}

.meeting-item-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

.meeting-item-metadata {
  float: left;
  padding-left: 15px;
  color: gray;
}

#meetingItemCreatorName {
  margin-right: 15px;
}

div.meeting-item-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

#messageEmptyList {
  text-align: center;
}
