<div class="container">
  <div class="title">
    <h3 *ngIf="title">{{ title }}</h3>
  </div>

  <ng-container *ngIf="meetingItems">

    <div id="questionnaireList" *ngIf="meetingItems.length > 0; else noQuestionnaires">
      <div class="panel panel-default"
           *ngFor="let meetingItem of meetingItems">

        <!-- start of meeting-details item panel heading -->
        <div class="panel-heading">
          <div class="row">
            <div class="meeting-item-metadata">
              <span class="fa fa-user"></span>
              <span
                id="meetingItemCreatorName">{{ meetingItem.creator.firstName }} {{ meetingItem.creator.lastName }}</span>
              <span class="fa fa-clock-o"></span> <span>{{ meetingItem.date | dateTimeFormat }}</span>
            </div>
            <div class="meeting-item-menu">
              <span class="fa fa-ellipsis-v" title="More options for questionnaire"
                    [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
              <ng-template #popTemplate>
                <div id="questionnairePopover">
                  <div>
                    <a (click)="pop.hide(); questionnaireReview(meetingItem.questionnaire)">
                      <span class="fa fa-info"></span> View full questionnaire
                    </a>
                  </div>
                  <div>
                    <a (click)="pop.hide(); vote(meetingItem.questionnaire)" *ngIf="!isResultsMode">
                      <span class="fa fa-pencil"></span> Vote
                    </a>
                  </div>
                  <div>
                    <a (click)="pop.hide(); reviewVotes(meetingItem.questionnaire)"
                       *ngIf="isResultsMode && jwtService.getIsCouncilMemberFromToken()">
                      <span class="fa fa-bar-chart-o"></span> Results
                    </a>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <!-- start of meeting-details item panel heading -->

        <!-- start of meeting-details item panel body -->
        <div class="panel-body">
          <b>Date expired: </b>
          <i class="date-expired"> {{ meetingItem.questionnaire.dateExpire | dateTimeFormat}} </i>
          <br>
          <b>Number of questions: </b> <span>{{ meetingItem.questionnaire.questions.length }}</span>
        </div>
        <!-- end of meeting-details item panel body -->

        <!-- start of question list in questionnaire of current meeting item -->
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let question of meetingItem.questionnaire.questions; index as i">
            {{ i+1 }}. {{ question.content | questionContent }}
          </li>
        </ul>
        <!-- end of question list in questionnaire of current meeting item -->

      </div>

      <div class="col-md-12 div-page">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                    [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                    firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>

    <ng-template #noQuestionnaires>
      <h4 id="messageEmptyList">There is no questionnaires for you...</h4>
    </ng-template>
  </ng-container>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
