  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Comment</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="postComment()" accept-charset="UTF-8">

    <div class="modal-body">
        <div class="form-group">
          <label for="comment">Enter comment</label>
          <div class="input-group" style="width: 100%">
          <textarea [(ngModel)]="content"
              class="form-control"
              rows="5"
              formControlName="comment"
              id="comment"
              placeholder="comment..."
              ></textarea>
          </div>
          <div *ngIf="comment.touched && comment.invalid" class="alert alert-danger">
            <div *ngIf="comment.errors.required; else commentLength" id="commentRequired">
              comment is required
            </div>
            <ng-template #commentLength>
              <ng-container *ngIf="comment.errors.minlength">
                <div id="commentMinimumLength">
                Minimum length is {{comment.errors.minlength.requiredLength}} characters.
                </div>
              </ng-container>
            </ng-template>
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!formGroup.valid">Post comment</button>
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
    </form>
  </div>
  <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
