tr, td, th {
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

span > i {
  background-color: white;
}

#apartmentsTable thead th span {
  visibility: hidden;
}

#apartmentsTable thead th.active span {
  visibility: visible;
}

#apartmentsTable thead th.active {
  background-color: white;
  color: #3c3c3c;
}

.btn-choose {
  color: white;
  background-color: rgb(66, 139, 202);
  height: 30px;
}

.row-button {
  float: right;
}

.page-div {
  width: 100%;
  text-align: center;
}

#messageEmptyList {
  text-align: center;
  margin-top: 20px;
}
