<div class="modal-header">
  <h4 class="modal-title pull-left">Choose apartment as damage location</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="apartmentList">

  <!-- start of apartment table -->
  <div id="apartmentList" *ngIf="apartmentList.length > 0; else noApartmentInList">
    <table class="table table-hover table-condensed" id="apartmentsTable">
      <thead>
      <tr>
        <th> Floor </th>
        <th> Number </th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let apartment of apartmentList">
        <td>{{ apartment.floor }}</td>
        <td>{{ apartment.number }}</td>
        <td>
          <button type="button" class="btn btn-choose btn-sm" (click)="choose(apartment)">
            <i class="fa fa-check"></i> Choose
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-div">
      <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                  [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                  firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>

  <ng-template #noApartmentInList>
    <div id="messageEmptyList">
      There is still no apartments...
    </div>
  </ng-template>
  <!-- end of apartment table -->

</div>

