#description {
  height: 250px;
}

.modal-title, .buttons-row {
  text-align: center;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.form-inline {
  display: flex;
}

.form-inline > label {
  margin-top: 5px;
  margin-right: 5px;
}

.apartment-dropdown, .urgency-dropdown, .damage-type-dropdown {
  width: 60%;
}

.apartment-dropdown-and-button {
  width: auto;
}

select {
  width: 100%!important;
}

.buttons-row {
  color: white;
  margin-top: 20px;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}

textarea.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.btn-choose-apartment {
  margin-left: 2px;
}

#file {
  padding-top: 7px;
  width: 220px;
  height: 30px;
}

#file:focus {
  outline: none;
}

#image > img {
  width: 400px;
}
