<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Report damage</h4>
    </div>

    <div class="modal-body" *ngIf="model">

      <!-- start of add damage form -->
      <form #f="ngForm" (ngSubmit)="onSubmit()" (change)="changeExist(f.value)" accept-charset="UTF-8">

        <!-- start of description -->
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            placeholder="description..."
            [(ngModel)]="model.description"
            #description="ngModel"
            required>
          </textarea>
          <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
            <div id="descriptionRequiredError" *ngIf="description.errors.required">
              The description is required!
            </div>
          </div>
        </div>
        <!-- end of description -->

        <!-- start of row with dropdowns -->
        <div class="row">

          <!-- start of type -->
          <div class="col-md-4">
            <div class="form-group form-inline">
              <label for="typeName">Damage type</label>
              <div class="dropdown damage-type-dropdown">
                <select
                  class="form-control"
                  id="typeName"
                  name="typeName"
                  [(ngModel)]="model.typeName">
                  <option *ngFor="let type of damageTypeList; let i = index"
                          [value]="type">
                    {{ type | damage_type_format }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- end of type -->

          <!-- start of urgency -->
          <div class="col-md-3">
            <div class="form-group form-inline">
              <label for="urgent">Urgency</label>
              <div class="dropdown urgency-dropdown">
                <select
                  class="form-control"
                  id="urgent"
                  name="urgent"
                  [(ngModel)]="model.urgent">
                  <option *ngFor="let urgency of [false, true]; let i = index"
                          [value]="urgency">
                    {{ urgency ? 'Urgent' : 'Not urgent' }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- end of urgency -->

          <!-- start of apartment option -->
          <div class="col-md-5">
            <div class="form-group form-inline">
              <label for="locationOfDamage">Damage location</label>
              <div class="dropdown"
                   [ngClass]="damageLocation === 'building' ? 'apartment-dropdown' : 'apartment-dropdown-and-button'">
                <select
                  class="form-control"
                  id="locationOfDamage"
                  name="locationOfDamage"
                  [(ngModel)]="damageLocation">
                  <option *ngFor="let location of ['building', 'apartment']; let i = index"
                          [value]="location">
                    {{ location === 'apartment' ? 'In apartment' : 'In building' }}
                  </option>
                </select>
              </div>
              {{ damageInApartment }}
              <button
                *ngIf="damageLocation === 'apartment'"
                class="btn btn-warning btn-choose-apartment"
                type="button"
                (click)="chooseApartment()">
                Choose
              </button>
            </div>
          </div>
          <!-- end of apartment option -->

          <!-- start of upload images -->
          <div class="col-md-12" [ngClass]="{'col-md-offset-1': model.image}">
            <div class="form-group form-inline">
              <label for="file">Choose file</label>
              <input type="file"
                     id="file"
                     accept="'.png, .jpg, .jpeg'"
                     #file
                     (change)="chooseFile($event)">
              <div>
                <div id="image" *ngIf="model.image">
                  <img [src]="'data:image/jpeg;base64,' + model.image">
                </div>
                <div *ngIf="fileToUpload && !model.image">
                  Image is loading...
                </div>
              </div>
            </div>
          </div>
          <!-- end of upload images -->

        </div>
        <!-- end of row with dropdowns -->

        <!-- start of buttons group -->
        <div class="row buttons-row">
          <button class="btn btn-save" type="submit"
                  [disabled]="disableSaveAndReset || !f.valid || apartmentIsNotSelected()">Save
          </button>
          <button class="btn btn-reset" type="button" [disabled]="disableSaveAndReset && !fileToUpload"
                  (click)="reset()">Reset
          </button>
          <button class="btn btn-warning" type="button" (click)="modalRef.hide()">Cancel</button>
        </div>
        <!-- start of buttons group -->

      </form>
      <!-- end of add damage form -->

    </div>
  </div>
</div>
