table {
  width: 100%;
  padding-top: 5%;
}

tr, td, th{
  text-align: center;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  margin-right: 15px;
  margin-left: 15px;

  /*text-align: left;*/
}

tbody {
  height: 250px;
  overflow-y: auto;
}

thead {
  /* fallback */
  text-align: center;
}


tbody td, thead th {
  width: 25%;
  float: left;
  text-align: left;
}

thead tr th{
  width: 20%;
}


