<div class="container">
  <div class="row">
    <div>
      <div class="row"><strong id="headingApartments"> Apartments </strong></div>
      <!-- start of filter input -->
      <div class="row">
        <div class="col col-lg-2" id="searchDiv">
          <div class="row">
            <div class="input-group">
              <div class="input-group-btn" dropdown>
                <button type="button" class="btn btn-default" id="dropDownToggleSort" dropdownToggle>
                  <span>{{ selectedSort }}</span>
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu">
                  <li *ngFor="let sort of sortList" (click)="setSort(sort)">{{ sort }}</li>
                </ul>
                <button class="btn btn-success" type="button" (click)="callSort()">
                  Sort
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-2" id="filterDiv">
          <div class="row">
            <div class="input-group">
              <div class="input-group-btn" dropdown>
                <button type="button" class="btn btn-default" id="dropDownToggleFilter" dropdownToggle>
                  <span>{{ selectedFilter }}</span>
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu">
                  <li *ngFor="let filter of filterList" (click)="setFilter(filter)">{{ filter }}</li>
                </ul>
                <button class="btn btn-success" type="button" (click)="callFilter()">
                  Filter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="apartmentList">
        <div *ngIf="apartmentList.length > 0; else noElements">
          <table class="table table-hover table-condensed" id="apartmentsTable" *ngIf="apartmentList">
            <thead>
            <tr>
              <th><i class="fa fa-home"></i> Number</th>
              <th><i class="fa fa-list-ol"></i> Floor</th>
              <th><i class="fa fa-bullseye"></i> Surface</th>
              <th><i class="fa fa-building"></i> Building id</th>
              <th><i class="fa fa-user"></i> Owner</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apartment of apartmentList">
              <td>{{apartment.number}}</td>
              <td>{{apartment.floor}}</td>
              <td>{{apartment.surface}}</td>
              <td>{{apartment.buildingId}}</td>
              <td *ngIf="apartment.owner">{{apartment.owner.firstName}}&nbsp;{{apartment.owner.lastName}}</td>
              <td *ngIf="!apartment.owner"><i class="fa fa-times" aria-hidden="true"></i></td>
              <td>
                <button type="button" class="btn btn-default" (click)="moreDetails(apartment)">
                  <i class="fa fa-search-plus"></i>&nbsp;&nbsp;More
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
        <ng-template #noElements>
          <h3>Sorry, there are no apartments! </h3>
        </ng-template>
      </div>


    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
