#apartmentsTable td, th, tr {
  text-align: center;
  vertical-align: middle;
}

.fa{
  color: rgb(66, 139, 202);
}

.row{
  margin: auto;
}

.container{
  text-align: center;
  padding-top: 2%;
}


#heading{
  font-size: large;
  padding-top: 2%;
  margin-bottom: 5%;
}

#headingApartments{
  font-size: large;
  padding-top: 2%;
  margin-bottom: 5%;
  margin-top: 15%;
}

#apartmentsTable{
  padding-top: 5%;
}

#apartmentsTable thead{
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}
#apartmentsTable thead th span {
  visibility: hidden;
}

#apartmentsTable thead th.active span {
  visibility: visible;
}

.dropdown-menu {
  padding-left: 10px;
}

.dropdown-menu > li {
  cursor: hand;
}

.div-add {
  float: right;
}

#searchDiv{
  margin-bottom: 2%;
  padding-left: 0%;
}
