<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        <ng-container *ngIf="setResponsibility; else delegateResponsibility">
          <ng-container *ngIf="!isDelegatingDamage;">
            Set responsibility for damage type
          </ng-container>
        </ng-container>
        <ng-template #delegateResponsibility>
          <ng-container *ngIf="isDelegatingDamage; else delegatingDamageType">
            Delegate responsibility for damage
          </ng-container>
          <ng-template #delegatingDamageType>
            Delegate responsibility for damage type
          </ng-template>
        </ng-template>
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div *ngIf="tenantsList">
        <div *ngIf="tenantsList.length > 0; else noMoreTenants">
          <table class="table table-hover table-condensed" id="tenantsTable">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let tenant of tenantsList">
                <ng-container>
                  <td>{{ tenant.firstName }}</td>
                  <td>{{ tenant.lastName }}</td>
                  <td>
                    {{ tenant.username }}
                    <ng-container *ngIf="tenant.username === jwtService.getUsernameFromToken()">
                      (me)
                    </ng-container>
                  </td>
                  <td>
                    <span *ngIf="(isDelegatingDamage && damage.responsiblePerson && damage.responsiblePerson.id === tenant.id) || (!isDelegatingDamage && damageTypeResponsibility.tenantId === tenant.id); else notCurrent">
                      Current responsible
                    </span>
                    <ng-template #notCurrent>
                      <button class="btn btn-delegate"
                              (click)="delegateResponsibilityPerson(tenant)">
                        <span class="fa fa-send"></span> Delegate
                      </button>
                    </ng-template>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <div class="page-div">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>

        <ng-template #noMoreTenants>
          <h3>Sorry, there is no other tenants, <br>
            so you can't delegate your responsibility now! </h3>
        </ng-template>

      </div>
    </div>
  </div>
</div>
