tr, td, th {
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

span > i {
  background-color: white;
}

#tenantsTable thead th span {
  visibility: hidden;
}

#tenantsTable thead th.active span {
  visibility: visible;
}

#tenantsTable thead th.active {
  background-color: white;
  color: #3c3c3c;
}

.btn-delegate {
  color: white;
  background-color: rgb(66, 139, 202);
  height: 30px;
}

.row-button {
  float: right;
}

.page-div {
  width: 100%;
  text-align: center;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

table {
  margin-top: 15px;
  font-size: 15px;
}
