<div class="modal-body" *ngIf="model">
  <form #f="ngForm" (ngSubmit)="onSubmit()" (change)="changeExist(f.value)" accept-charset="UTF-8">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="title..."
        [(ngModel)]="model.title"
        #title="ngModel"
        required>
      <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
        <div id="titleRequiredError" *ngIf="title.errors.required">
          The title is required!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        placeholder="content..."
        [(ngModel)]="model.content"
        #content="ngModel"
        required>
      </textarea>
      <div *ngIf="content.touched && content.invalid" class="alert alert-danger">
        <div id="contentRequiredError" *ngIf="content.errors.required">
          The content is required!
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-save" type="submit" [disabled]="disableSaveAndReset || !f.valid">Save</button>
      <button class="btn btn-reset" type="button" [disabled]="disableSaveAndReset" (click)="reset()">Reset</button>
      <button class="btn btn-warning" type="button" (click)="modalRef.hide()">Cancel</button>
    </div>
  </form>
</div>
