.buttons {
  text-align: center;
  color: white;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}

.modal-header {
  text-align: center;
}

#content {
  height: 200px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}
