<div class="container">
  <div *ngIf="jwtService.getApartmentIdFromToken() !== -1; else notConnectedToAnyapartment">

    <!-- start of search, filter for meeting-details item list-->
    <div class="row">

      <!-- start of date range input -->
      <div class="col-md-5 div-search">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input
            id="fromToDate"
            placeholder="From - To"
            type="text"
            class="form-control"
            [bsConfig]="bsConfig"
            [maxDate]="maxDate"
            (onHidden)="setTime()"
            bsDaterangepicker
            [(ngModel)]="daterangepickerModel"
            readonly>
          <span class="input-group-btn">
            <button class="btn btn-clear" type="button" (click)="reset()">
              <span class="fa fa-remove"></span> Clear
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-search" type="button" (click)="search()">
          <span class="fa fa-search"></span> Search
        </button>
      </div>
      <!-- end of date range input -->

      <!-- start of add button -->
      <div class="col-md-1 div-add">
        <button class="btn btn-add btn-warning" type="button" (click)="add()">
          <span class="fa fa-plus"></span> Add
        </button>
      </div>
      <!-- end of add button -->

    </div>
    <!-- end of search, filter for meeting-details item list-->

    <ng-container *ngIf="meetingItemList">
      <div *ngIf="meetingItemList.length > 0; else noMeetingItemsInList">
        <div id="meetingItemList">
          <div class="panel panel-default"
               *ngFor="let meetingItem of meetingItemList">

            <!-- start of meeting-details item panel heading -->
            <div class="panel-heading">
              <div class="row">
                <div class="meeting-item-title">
                  {{ meetingItem.title }}
                </div>
                <div class="meeting-item-menu"
                     *ngIf="meetingItem.creator.username === jwtService.getUsernameFromToken() || (meetingItem.creator.username !== jwtService.getUsernameFromToken() && meetingItem.questionnaire)">
                  <span class="fa fa-ellipsis-v" title="More options for meeting item"
                    [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
                  <ng-template #popTemplate>
                    <div id="meetingItemPopover">
                      <div *ngIf="meetingItem.questionnaire">
                        <a (click)="pop.hide(); questionnaireReview(meetingItem)">
                          <span class="fa fa-info"></span> View questionnaire
                        </a>
                      </div>
                      <div *ngIf="meetingItem.creator.username === jwtService.getUsernameFromToken()">
                        <a (click)="pop.hide(); edit(meetingItem)">
                          <span class="fa fa-pencil"></span> Edit
                        </a>
                      </div>
                      <div *ngIf="meetingItem.creator.username === jwtService.getUsernameFromToken()">
                        <a (click)="pop.hide(); remove(meetingItem)">
                          <span class="fa fa-trash"></span> Remove
                        </a>
                    </div>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="meeting-item-metadata">
                <span class="fa fa-user"></span>
                <span
                  id="meetingItemCreatorName">{{ meetingItem.creator.firstName }} {{ meetingItem.creator.lastName }}
                </span>
                <span class="fa fa-clock-o"></span>
                <span>{{ meetingItem.date | dateTimeFormat }}</span>
              </div>
            </div>
            <!-- start of meeting-details item panel heading -->

            <!-- start of meeting-details item panel body -->
            <div class="panel-body">
              {{ meetingItem.content }}
            </div>
            <!-- end of meeting-details item panel body -->

            <!-- start of damage description for selected meeting-details item -->
            <ul class="list-group">
              <li class="list-group-item" *ngIf="meetingItem.damageId">
                <b>This meeting item is related to damage with next description: </b> <br>
                {{ meetingItem.damageDescription }}
              </li>
            </ul>
            <!-- end of damage description for selected meeting-details item -->

          </div>

          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>

      <ng-template #noMeetingItemsInList>
        <div id="messageEmptyList">
          <h4 *ngIf="!isSearchMode; else noMeetingItemsInDateRange">There is still no suggestions of meeting item on this billboard...</h4>
          <ng-template #noMeetingItemsInDateRange>
            <h4>There is no suggestions of meeting item in given date range on this billboard...</h4>
          </ng-template>
        </div>
      </ng-template>
    </ng-container>
  </div>

  <ng-template #notConnectedToAnyapartment>
    <div id="messageWithoutApartment">
      <h3>You are still not connected with any apartment, so you can't see any suggestion for meeting item...</h3>
    </div>
  </ng-template>
</div>

