<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Offer for selected damage</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="sendOffer()" accept-charset="UTF-8">
    <div class="modal-body">
      <div class="form-group">
        <label for="price">Enter your price for this damage fix</label>
        <div class="input-group" style="width: 100%">
          <input
            formControlName="price"
            id="price"
            placeholder="price..."
            type="text"
            class="form-control">
        </div>
        <div id="priceError" *ngIf="price.touched && price.invalid" class="alert alert-danger">
          <div *ngIf="price.errors.required; else priceContainsSpace">
            The price is required!
          </div>
          <ng-template #priceContainsSpace>
            <ng-container *ngIf="price.errors.cannotContainSpace; else pricePattern">
              <div id="priceContainsSpace">
              The price can't contain space.
              </div>
            </ng-container>
          </ng-template>
          <ng-template #pricePattern>
            <ng-container *ngIf="price.errors.pattern">
              <div id="pricePattern">
              The price must contain between 1 and 10 numbers.
              </div>
            </ng-container>
          </ng-template>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!formGroup.valid">Post offer</button>
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
  </form>
</div>
