<div class="container" *ngIf="tenantData">

  <!-- start of Map of tenant address -->
  <div class="row" *ngIf="tenantData.address">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-heading-location">
          <span class="fa fa-map-marker"></span> Location of my apartment
        </div>
        <div>
          <div><b>Street:</b> {{ tenantData.address.street }} {{ tenantData.address.number }}</div>
          <div><b>City:</b> {{ tenantData.address.city.name }}, {{ tenantData.address.city.postalNumber }}</div>
          <div><b>Apartment number:</b> {{ tenantData.apartmentNumber }}</div>
        </div>
      </div>
      <div class="panel-body">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <!-- end of Map of tenant address -->

  <!-- start of Tenant personal information -->
  <div class="row" *ngIf="form">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-personal">
        Personal information
      </div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="save()" accept-charset="UTF-8">

          <!-- start of Tenant profile left form -->
          <div class="col-xs-6 form-left">

            <!-- start of Tenant first name -->
            <div class="form-group">
              <label for="firstName">First name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input
                  formControlName="firstName"
                  id="firstName"
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
                <div id="firstNameRequiredError" *ngIf="firstName.errors.required; else firstNameMinLength">
                  The first name is required!
                </div>
                <ng-template #firstNameMinLength>
                  <ng-container *ngIf="firstName.errors.minlength">
                    <div id="firstNameMinLengthError">
                      Minimum length is {{firstName.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>
            <!-- end of Tenant first name -->

            <!-- start of Tenant last name -->
            <div class="form-group">
              <label for="lastName">Last name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user-o"></i>
                </div>
                <input
                  formControlName="lastName"
                  id="lastName"
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
                <div id="lastNameRequiredError" *ngIf="lastName.errors.required; else lastNameMinLength">
                  The last name is required!
                </div>
                <ng-template #lastNameMinLength>
                  <ng-container *ngIf="lastName.errors.minlength">
                    <div id="lastNameMinLengthError">
                      Minimum length is {{lastName.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>
            <!-- end of Tenant last name -->

            <!-- start of Tenant email name -->
            <div class="form-group">
              <label for="email">Email address</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </div>
                <input
                  formControlName="email"
                  id="email"
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div id="emailRequiredError" *ngIf="email.errors.required; else emailPattern">
                  The email is required!
                </div>
                <ng-template #emailPattern>
                  <ng-container *ngIf="email.errors.email">
                    <div id="emailPatternError">
                      Please provide a valid email address.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>
            <!-- end of Tenant first name -->

            <!-- start of Tenant phone number -->
            <div class="form-group">
              <label for="phoneNumber">Phone number</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </div>
                <input
                  formControlName="phoneNumber"
                  id="phoneNumber"
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
                <div id="phoneNumberRequiredError" *ngIf="phoneNumber.errors.required; else phoneNumberContainsSpace">
                  The phone number is required!
                </div>
                <ng-template #phoneNumberContainsSpace>
                  <ng-container *ngIf="phoneNumber.errors.cannotContainSpace; else phoneNumberPattern">
                    <div id="phoneNumberSpaceError">
                      The phone number can't contain space.
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #phoneNumberPattern>
                  <ng-container *ngIf="phoneNumber.errors.pattern">
                    <div id="phoneNumberPatternError">
                      The phone must contain between 6 and 10 numbers.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>
            <!-- end of Tenant phone number -->

            <!-- start of Tenant birthday -->
            <div class="form-group">
              <label for="birthDate">Birth date</label>
              <div class="form-inline">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-birthday-cake"></i>
                  </div>
                  <input
                    formControlName="birthDate"
                    id="birthDate"
                    placeholder="birth date..."
                    type="text"
                    class="form-control"
                    [bsConfig]="bsConfig"
                    [maxDate]="maxDate"
                    bsDatepicker
                    #dp="bsDatepicker"
                    readonly>
                </div>
                <button class="btn date" type="button" (click)="dp.show()"><span class="fa fa-calendar"></span></button>
              </div>
              <div *ngIf="birthDate.touched && birthDate.invalid" class="alert alert-danger">
                <div id="birthDateRequiredError" *ngIf="birthDate.errors.required">
                  The birth date is required!
                </div>
              </div>
            </div>
            <!-- end of Tenant birthday -->

          </div>
          <!-- end of Tenant profile left form -->

          <!-- start of Tenant profile right form -->
          <div class="col-xs-6 form-right">

            <!-- start of Tenant username -->
            <div class="form-group">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-id-badge"></i>
                </div>
                <input
                  formControlName="username"
                  id="username"
                  type="text"
                  class="form-control"
                  readonly
                  title="Username can't be changed!">
              </div>
            </div>
            <!-- end of Tenant username -->

            <!-- end of Tenant current password -->
            <div class="form-group">
              <label for="currentPassword">Current password</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-unlock"></i>
                </div>
                <input
                  formControlName="currentPassword"
                  id="currentPassword"
                  type="password"
                  class="form-control">
              </div>
              <div *ngIf="currentPassword.invalid" class="alert alert-danger">
                <div id="currentPasswordRequiredError" *ngIf="currentPassword.errors.required">
                  The current password is required!
                </div>
              </div>
            </div>
            <!-- end of Tenant current password -->

            <!-- start of Tenant passwords -->
            <div class="form-group" formGroupName="passwords">
              <!-- start of Tenant new password -->
              <div class="form-group">
                <label for="password">New password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
                  <input
                    formControlName="password"
                    id="password"
                    type="password"
                    class="form-control">
                </div>
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                  <div id="passwordRequiredError" *ngIf="password.errors.required; else passwordMinLength">
                    The password is required!
                  </div>
                  <ng-template #passwordMinLength>
                    <ng-container *ngIf="password.errors.minlength">
                      <div id="passwordMinLengthError">
                        Minimum length is {{password.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <!-- end of Tenant new password -->

              <!-- start of Tenant confirm password -->
              <div class="form-group">
                <label for="confirmPassword">Confirmation of new password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
                  <input
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    type="password"
                    class="form-control">
                </div>
                <div *ngIf="confirmPassword.invalid" class="alert alert-danger">
                  <div id="confirmPasswordRequiredError" *ngIf="confirmPassword.errors.required">
                    The password confirmation is required!
                  </div>
                </div>
                <div id="passwordDontMatchError" *ngIf="password.touched && password.valid && confirmPassword.touched && confirmPassword.valid &&
                passwords.invalid && passwords.errors.matchPasswords" class="alert alert-danger">
                  Passwords don't match!
                </div>
              </div>
              <!-- end of Tenant confirm password -->

            </div>
            <!-- end of Tenant passwords -->

          </div>
          <!-- end of Tenant profile right form -->

          <div class="form-group">
            <div class="col-xs-12 profile-button-div">
              <button class="btn save" type="submit" [disabled]="disableSaveOrReset || !form.valid">
                <span class="fa fa-check"></span> Save
              </button>
              <button class="btn reset" type="button" (click)="reset()" [disabled]="disableSaveOrReset">
                <span class="fa fa-times"></span> Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of Tenant personal information -->

</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>




