.container {
  margin-top: 5px;
}

.panel-heading-location, .panel-heading-personal {
  font-size: 16px;
  font-weight: bold;
  color: #3c3c3c;
}

.btn.reset, .btn.date, .input-group-addon{
  background-color: rgb(66, 139, 202);
  color: white;
}

.btn.save {
  background-color: rgb(100, 150, 100);
  color: white;
}

input.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

input[readonly] {
  background-color: white;
}

.profile-button-div {
  text-align: center;
}

agm-map {
  height: 300px;
}
