<div class="modal-header">
  <h4 class="modal-title pull-left">Add new account</h4>
  <button type="button" class="close pull-right account" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="addAccount()" accept-charset="UTF-8">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-user"></i>
        </div>
        <input
          formControlName="usernameModal"
          id="usernameModal"
          placeholder="username..."
          type="text"
          class="form-control">
      </div>
      <div *ngIf="usernameModal.pending" class="alert alert-warning">
        Checking username availability...
      </div>
      <div *ngIf="usernameModal.valid && !usernameInList()" class="alert alert-success">
        Username is available!
      </div>
      <div *ngIf="usernameModal.touched && (usernameModal.invalid  || usernameInList())" class="alert alert-danger">
        <div id="usernameModalRequired"
             *ngIf="usernameModal.errors != null && usernameModal.errors.required; else usernameModalContainSpace">
          The username is required!
        </div>
        <ng-template #usernameModalContainSpace>
          <ng-container
            *ngIf="usernameModal.errors != null && usernameModal.errors.cannotContainSpace; else usernameModalIsTaken">
            <div id="usernameModalContainSpace">
              The username can't contain space.
            </div>
          </ng-container>
        </ng-template>
        <ng-template #usernameModalIsTaken>
          <ng-container
            *ngIf="usernameInList() || (usernameModal.errors != null && usernameModal.errors.usernameIsTaken)">
            <div id="usernameModalTaken">
              The username is already taken!
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>

    <div class="form-group" formGroupName="passwords">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-lock"></i>
          </div>
          <input
            formControlName="password"
            id="passwordModal"
            placeholder="password..."
            type="password"
            class="form-control">
        </div>
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          <div *ngIf="password.errors.required; else passwordMinLength" id="passwordModalRequired">
            The password is required!
          </div>
          <ng-template #passwordMinLength>
            <ng-container *ngIf="password.errors.minlength">
              <div id="passwordModalMinLength">
                Minimum length is {{password.errors.minlength.requiredLength}} characters.
              </div>
            </ng-container>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-lock"></i>
          </div>
          <input
            formControlName="confirmPassword"
            id="confirmPasswordModal"
            placeholder="password confirmation..."
            type="password"
            class="form-control">
        </div>
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
          <div *ngIf="confirmPassword.errors.required" id="confirmPasswordModalRequired">
            The password confirmation is required!
          </div>
        </div>
        <div *ngIf="password.touched && password.valid && confirmPassword.touched && confirmPassword.valid &&
                passwords.invalid && passwords.errors.matchPasswords" class="alert alert-danger">
          <div id="confirmPasswordModalNotMatch">
            Passwords don't match!
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-confirm" (click)="addAccount()" [disabled]="!form.valid || usernameInList()">Confirm</button>
  <button type="button" id="closeButtonAccountModal" class="btn btn-danger account-close" (click)="bsModalRef.hide()">Close</button>
</div>
