<div class="tenant-registration-background"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-tenant-registration">

        <div class="panel-heading">
          <h3 class="panel-title">Please fill the form</h3>
        </div>

        <div class="panel-body">
          <form [formGroup]="form" (ngSubmit)="register()" accept-charset="UTF-8">

            <div class="form-group">
              <input
                formControlName="firstName"
                id="firstName"
                placeholder="first name..."
                type="text"
                class="form-control">
              <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
                <div id="firstNameRequiredError" *ngIf="firstName.errors.required; else firstNameMinLength">
                  The first name is required!
                </div>
                <ng-template #firstNameMinLength>
                  <ng-container *ngIf="firstName.errors.minlength">
                    <div id="firstNameMinimumLengthError">
                      Minimum length is {{firstName.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <input
                formControlName="lastName"
                id="lastName"
                placeholder="last name..."
                type="text"
                class="form-control">
              <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
                <div id="lastNameRequiredError" *ngIf="lastName.errors.required; else lastNameMinLength">
                  The last name is required!
                </div>
                <ng-template #lastNameMinLength>
                  <ng-container *ngIf="lastName.errors.minlength">
                    <div id="lastNameMinimumLengthError">
                      Minimum length is {{lastName.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <input
                formControlName="username"
                id="username"
                placeholder="username..."
                type="text"
                class="form-control">
              <div *ngIf="username.pending" class="alert alert-warning">
                Checking username availability...
              </div>
              <div id="usernameAvailable" *ngIf="username.valid" class="alert alert-success">
                Username is available!
              </div>
              <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                <div id="usernameRequiredError" *ngIf="username.errors.required; else usernameContainSpace">
                  The username is required!
                </div>
                <ng-template #usernameContainSpace>
                  <ng-container *ngIf="username.errors.cannotContainSpace; else usernameIsTaken">
                    <div id="usernameContainSpaceError">
                      The username can't contain space.
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #usernameIsTaken>
                  <ng-container *ngIf="username.errors.usernameIsTaken">
                    <div id="usernameTakenError">
                      The username is already taken!
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group" formGroupName="passwords">
              <div class="form-group">
                <input
                  formControlName="password"
                  id="password"
                  placeholder="password..."
                  type="password"
                  class="form-control">
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                  <div id="passwordRequiredError" *ngIf="password.errors.required; else passwordMinLength">
                    The password is required!
                  </div>
                  <ng-template #passwordMinLength>
                    <ng-container *ngIf="password.errors.minlength">
                      <div id="passwordMinimumLengthError">
                        Minimum length is {{password.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="confirmPassword"
                  id="confirmPassword"
                  placeholder="password confirmation..."
                  type="password"
                  class="form-control">
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                  <div id="confirmPasswordRequiredError" *ngIf="confirmPassword.errors.required">
                    The password confirmation is required!
                  </div>
                </div>
                <div *ngIf="password.touched && password.valid && confirmPassword.touched && confirmPassword.valid &&
                passwords.invalid && passwords.errors.matchPasswords" class="alert alert-danger">
                  <div id="passwordDontMatchError">
                    Passwords don't match!
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                formControlName="email"
                id="email"
                placeholder="email..."
                type="text"
                class="form-control">
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div id="emailRequiredError" *ngIf="email.errors.required; else emailPattern">
                  The email is required!
                </div>
                <ng-template #emailPattern>
                  <ng-container *ngIf="email.errors.email">
                    <div id="emailValidError">
                      Please provide a valid email address.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <input
                formControlName="phoneNumber"
                id="phoneNumber"
                placeholder="phone number..."
                type="text"
                class="form-control">
              <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
                <div id="phoneNumberRequired" *ngIf="phoneNumber.errors.required; else phoneNumberContainsSpace">
                  The phone number is required!
                </div>
                <ng-template #phoneNumberContainsSpace>
                  <ng-container *ngIf="phoneNumber.errors.cannotContainSpace; else phoneNumberPattern">
                    <div id="phoneNumberContainSpaceError">
                      The phone number can't contain space.
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #phoneNumberPattern>
                  <ng-container *ngIf="phoneNumber.errors.pattern">
                    <div id="phoneNumberPatternError">
                      The phone must contain between 6 and 10 numbers.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <div class="form-inline">
                <input
                  formControlName="birthDate"
                  id="birthDate"
                  placeholder="birth date..."
                  type="text"
                  class="form-control"
                  [bsConfig]="bsConfig"
                  [maxDate]="maxDate"
                  bsDatepicker
                  #dp="bsDatepicker"
                  readonly>
                <button class="btn" type="button" (click)="dp.show()"><span class="fa fa-calendar"></span></button>
              </div>
              <div *ngIf="birthDate.touched && birthDate.invalid" class="alert alert-danger">
                <div id="birthDateRequiredError" *ngIf="birthDate.errors.required">
                  The birth date is required!
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Register</button>
          </form>
          <div class="link-to-login">
            Back to <a routerLink="/login">login page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
