<div class="modal-header">
  <h4 class="modal-title pull-left">Add new apartment</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="addApartment()" accept-charset="UTF-8">

    <div class="form-group">
      <div class="input-group">
        <label>Number:</label>
        <input
          formControlName="numberModal"
                  id="numberModal"
          placeholder="number..."
          type="number"
          min="1"
          class="form-control">
      </div>
      <div *ngIf="number.touched && number.invalid" class="alert alert-danger">
        <div id="numberRequiredError" *ngIf="number.errors.required">
          The number is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label>Floor:</label>
        <input
          formControlName="floor"
          id="floor"
          placeholder="floor..."
          type="number"
          min="1"
          class="form-control">
      </div>
      <div *ngIf="floor.touched && floor.invalid" class="alert alert-danger">
        <div id="floorRequiredError" *ngIf="floor.errors.required">
          The floor is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label>Surface:</label>
        <input
          formControlName="surface"
          id="surface"
          placeholder="surface..."
          type="number"
          min="1"
          class="form-control">
      </div>
      <div *ngIf="surface.touched && surface.invalid" class="alert alert-danger">
        <div id="surfaceRequiredError" *ngIf="surface.errors.required">
          The surface is required!
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-confirm" (click)="addApartment()" [disabled]="!form.valid">Confirm</button>
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Close</button>
</div>
