#meetingsTable td, th, tr, #finishedMeetingsTable td, th, tr {
  text-align: center;
  vertical-align: middle;
}

.container{
  text-align: center;
  padding-top: 2%;
}

#meetingsTable thead, #finishedMeetingsTable thead, .div-page {
  text-align: center;
}

a {
  cursor: hand;
  text-decoration: none;
}

.row-president {
  margin-top: 10px;
}

.row-meeting {
  margin-top: 30px;
}

.div-add {
  float: left;
  margin-bottom: 18px;
  color: rgb(66, 139, 202);
}

.div-add a {
  font-size: 18px;
}

a > span.fa {
  color: rgb(66, 139, 202);
}

.meeting-menu a {
  color: #3c3c3c!important;
  cursor: hand;
}

span.fa-caret-down{
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.title-finished-meetings {
  margin-top: 60px;
}
