<div class="container">
  <div class="title">
    <h3>Upcomming meetings</h3>
  </div>
  <div class="row" [ngClass]="{'row-president': jwtService.hasRole('COUNCIL_PRESIDENT'), 'row-tenant': !jwtService.hasRole('COUNCIL_PRESIDENT')}">
    <div *ngIf="meetingList" class="col-md-10 col-md-offset-1">
      <div *ngIf="meetingList.length > 0; else noMeetings">
        <div class="div-add" *ngIf="jwtService.hasRole('COUNCIL_PRESIDENT')">
          <a (click)="add()">
            <span class="fa fa-plus"></span> <b>Create new meeting</b>
          </a>
        </div>
        <table class="table table-hover table-condensed" id="meetingsTable">
          <thead>
            <tr>
              <th>Date and time</th>
              <th>Duration</th>
              <th>Number of meeting items</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meeting of meetingList">
              <td> {{ meeting.date | dateTimeFormat }}</td>
              <td> {{ meeting.duration }} minutes</td>
              <td> {{ meeting.numberOfMeetingItems }}</td>
              <td class="meeting-menu" *ngIf="jwtService.hasRole('COUNCIL_PRESIDENT'); else tenantOption">
                <span class="fa fa-caret-down" title="More options for meeting"
                      [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span> More
                <ng-template #popTemplate>
                  <div id="meetingPopover">
                    <div>
                      <a (click)="details(meeting)">
                        <span class="fa fa-info"></span> Details
                      </a>
                    </div>
                    <div>
                      <a (click)="pop.hide(); remove(meeting)">
                        <span class="fa fa-trash"></span> Remove
                      </a>
                    </div>
                  </div>
                </ng-template>
              </td>
              <ng-template #tenantOption>
                <td>
                  <a (click)="details(meeting)">
                    <span class="fa fa-info"></span> Details
                  </a>
                </td>
              </ng-template>
            </tr>
          </tbody>
        </table>

        <div class="col-md-12 div-page">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                      [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>

      <ng-template #noMeetings>
        <div class="message">
          <h4>There is no upcomming meetings...</h4>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-container *ngIf="jwtService.hasRole('COUNCIL_PRESIDENT')">
    <div class="title title-finished-meetings">
      <h3>Finished meetings without record</h3>
    </div>
    <div class="row row-meeting">
      <div *ngIf="meetingWithoutRecordList" class="col-md-10 col-md-offset-1">
        <div *ngIf="meetingWithoutRecordList.length > 0; else noMeetingsWithoutRecord">
          <table class="table table-hover table-condensed" id="finishedMeetingsTable">
            <thead>
            <tr>
              <th>Date and time</th>
              <th>Duration</th>
              <th>Number of meeting items</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finishedMeeting of meetingWithoutRecordList">
              <td> {{ finishedMeeting.date | dateTimeFormat }}</td>
              <td> {{ finishedMeeting.duration }} minutes</td>
              <td> {{ finishedMeeting.numberOfMeetingItems }}</td>
              <td class="meeting-menu">
                <span class="fa fa-caret-down" title="More options for meeting"
                      [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span> More
                <ng-template #popTemplate>
                  <div id="finishedMeetingPopover">
                    <div>
                      <a (click)="details(finishedMeeting)">
                        <span class="fa fa-info"></span> Details
                      </a>
                    </div>
                    <div>
                      <a (click)="pop.hide(); createRecord(finishedMeeting)">
                        <span class="fa fa-pencil"></span> Create record
                      </a>
                    </div>
                  </div>
                </ng-template>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="col-md-12 div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems2" [(ngModel)]="currentPage2" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="page2Changed($event)"></pagination>
          </div>
        </div>

        <ng-template #noMeetingsWithoutRecord>
          <div class="message">
            <h4>There is no finished meetings without records...</h4>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
