<div>
  <tabset [justified]="true">
    <tab *ngFor="let tab of tabs"
         [heading]="tab.title"
         [active]="tab.active"
         (select)="setRoute(tab)"
         (deselect)="tab.active = false" customClass="customTabClass"></tab>
  </tabset>
</div>
<router-outlet></router-outlet>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
