.container{
  text-align: center;
  padding-top: 2%;

}

.row{
  margin: auto;
}

#businessTable{
  width: 70%;
}

#businessTable{
  padding-top: 5%;
  margin-left: 15%;
}

#businessTable thead{
  text-align: center;
}

tr, td, th{
  text-align: center;
}

agm-map {
  height: 300px;
}
