<div class="container">
  <div class="row">
    <div>
      <!-- start of Map of tenant address -->
      <div class="row" *ngIf="business">
        <div class="panel panel-default" *ngIf="business.address">
          <div class="panel-heading">
            <div class="panel-heading-location">
              <span class="fa fa-map-marker"></span> Location of business
            </div>
            <div>
              <div><b>Street:</b> {{ business.address.street }} {{ business.address.number }}</div>
              <div><b>City:</b> {{ business.address.city.name }}, {{ business.address.city.postalNumber }}</div>
            </div>
          </div>
          <div class="panel-body">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <!-- end of Map of tenant address -->

      <table class="table table-hover table-condensed" id="businessTable" *ngIf="business">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td><b>Name</b></td>
          <td>{{business.name}}</td>
        </tr>
        <tr>
          <td><b>Description</b></td>
          <td>{{business.description}}</td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td>{{business.email}}</td>
        </tr>
        <tr>
          <td><b>Phone number</b></td>
          <td>{{business.phoneNumber}}</td>
        </tr>
        <tr>
          <td><b>Business type</b></td>
          <td>{{business.businessType | business_type}}</td>
        </tr>
        <tr *ngIf="business.address">
          <td><b>City</b></td>
          <td>{{business.address.city.name}}</td>
        </tr>
        <tr *ngIf="business.address">
          <td><b>Postal number</b></td>
          <td>{{business.address.city.postalNumber}}</td>
        </tr>
        <tr *ngIf="business.address">
          <td><b>Street</b></td>
          <td>{{business.address.street}}</td>
        </tr>
        <tr *ngIf="business.address">
          <td><b>Number</b></td>
          <td>{{business.address.number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
