.container {
  position:relative;
  z-index:2;
  width: 100%;
  height: 100%;
}

.panel-login {
  text-align: center;
  background: none;
  margin-top: 40%;
}

.panel-body {
  background-color: rgba(31, 28, 28, 0.7);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.panel-heading {
  background-color: rgba(66, 139, 202, 0.7);
  color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.panel-title {
  font-size: 20px;
}

.btn {
  background-color: rgb(66, 139, 202);
  color: white;
}

.sing-up {
  margin-top: 30px;
  color: white;
  font-size: 14px;
}

a {
  color: rgb(66, 139, 202);
}

.login-background {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:url('../../assets/images/login.jpg');
  background-size:cover;
  z-index:1;
  filter: blur(1px);
}

input.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.inner-addon {
  position: relative;
}
