<div class="container">
  <div class="title">
    <h3>Damage types in buildings you are responsible institution for</h3>
  </div>
  <div *ngIf="damageTypeResponsibilities && damageTypeResponsibilities.length > 0; else noElements">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="text-center">Address and number</th>
        <th class="text-center">City</th>
        <th class="text-center">Damage type</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="damageTypeResponsibilities">
      <tr *ngFor="let dtr of damageTypeResponsibilities">
        <td align="center">{{dtr.address.street + " " + dtr.address.number}}</td>
        <td align="center">{{dtr.address.city.name}}</td>
        <td align="center">{{dtr.damageTypeName | damage_type_format}}</td>
        <td align="center">
          <button class="btn btn-delegate" (click)="delegateResponsibility(dtr)">Delegate responsibility</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="col-md-12 div-page">
      <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                  [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                  firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>

  <ng-template #noElements>
    <h4 class="text-center">
      You aren't responsible for any damage type in any building!
    </h4>
  </ng-template>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
