.mh1 div {
  height: 20vh;
  margin-top: 10vh;
}

#adminsPanel{
  border-color: #61bee2;
  border-radius: 5px;
}

#tenantsPanel {
  border-color: #61bee2;
  border-radius: 5px;
}

#businessesPanel {
  border-color: #61bee2;
  border-radius: 5px;
}

#buildingsPanel {
  border-color: #61bee2;
  border-radius: 5px;
}

#apartmentsPanel {
  border-color: #61bee2;
  border-radius: 5px;
}
