<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="row mh1">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <a routerLink="/admins" id="adminsLink">
        <div id="adminsPanel" class="panel panel-default">
          <div class="panel-body">
            <b>ADMINS</b>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <a routerLink="/tenants" id="tenantsLink">
        <div id="tenantsPanel" class="panel panel-default">
          <div class="panel-body">
            <b>TENANTS</b>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mh2"></div>
  <div class="row mh1">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <a routerLink="/buildings" id="buildingsLink">
        <div id="buildingsPanel" class="panel panel-default">
          <div class="panel-body">
            <b>BUILDINGS</b>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <a routerLink="/businesses" id="businessesLink">
        <div id="businessesPanel" class="panel panel-default">
          <div class="panel-body">
            <b>BUSINESSES</b>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <a routerLink="/apartments" id="apartmentsLink">
        <div id="apartmentsPanel" class="panel panel-default">
          <div class="panel-body">
            <b>APARTMENTS</b>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
