.container{
  text-align: center;
  padding-top: 2%;

}

.row{
  margin: auto;
}

li {
  text-align: left;
  color: black;
}

.btn.btn-xs.danger, .save{
  background-color: rgb(66, 139, 202);
  color: white;
}

.fa{
  color: rgb(66, 139, 202);
}

.row{
  align-items: center;
}

#tenantsTable, #apartmentTable{
  color: black;
}

thead{
  text-align: center;
}

tr, td, th{
  text-align: center;
}

thead th {
  width: 33%;
  margin-right: 15px;
  margin-left: 15px;
}

thead th span {
  visibility: hidden;
}

thead th.active span {
  visibility: visible;
}

#tenantTableDiv{
  width: 100%;
}

.panel-heading-personal {
  font-size: 16px;
  font-weight: bold;
  color: #3c3c3c;
}

