<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-personal">
        Apartment information
      </div>
      <div class="panel-body"  *ngIf="apartment">
        <div class="col-xs-6 form-left">

          <div class="" id="tenantTableDiv" *ngIf="apartment.tenants">
            <div class="panel-heading-personal"><span><strong>Tenants</strong></span></div>
            <table class="table table-hover table-condensed" id="tenantTable" *ngIf="apartment.tenants.length > 0; else noElements">
              <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Birthday</th>
                <th>Email</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tenant of apartment.tenants" style="list-style: none">
                <td>{{tenant.firstName}}</td>
                <td>{{tenant.lastName}}</td>
                <td>{{tenant.birthDate}}</td>
                <td>{{tenant.email}}</td>
                <span style="float: right;"><button (click)="removeTenant(tenant)"
                                                     data-original-title="Delete apartment" data-toggle="tooltip"
                                                     type="button" class="btn btn-xs danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    </button></span>
              </tr>
              </tbody>
            </table>
            <ng-template #noElements>
              <h3>Sorry, there are no tenants in this apartment! </h3>
            </ng-template>
            <button class="btn btn-primary account" type="button" (click)="displayAddTenant()">Add new tenant
            </button>
          </div>
        </div>

        <div class="col-xs-6 form-right">
          <div class="form-center">
            <table class="table table-hover table-condensed" id="apartmentTable" *ngIf="apartment">
              <thead>
              </thead>
              <tbody>
              <tr>
                <td><b>Number</b></td>
                <td>{{apartment.number}}</td>
              </tr>
              <tr>
                <td><b>Floor</b></td>
                <td>{{apartment.floor}}</td>
              </tr>
              <tr>
                <td><b>Surface</b></td>
                <td>{{apartment.surface}}</td>
              </tr>
              <tr>
                <td><b>Owner</b></td>
                <td *ngIf="apartment.owner">{{apartment.owner.firstName}} {{apartment.owner.lastName}}</td>
                <td *ngIf="!apartment.owner"><i class="fa fa-times" aria-hidden="true"></i></td>
              </tr>
              </tbody>
            </table>

            <div class="col-xs-12">
                <button class="btn save" type="submit" (click)="changeOwner()">Change owner</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
