<div *ngIf="jwtService.hasRole('TENANT')">
  <app-tenant-profile [toasterConfig]="toasterConfig"></app-tenant-profile>
</div>
<div *ngIf="jwtService.hasRole('COMPANY') || jwtService.hasRole('INSTITUTION')">
  <app-business-profile [toasterConfig]="toasterConfig"></app-business-profile>
</div>
<div *ngIf="jwtService.hasRole('ADMIN')">
  <app-admin-profile [toasterConfig]="toasterConfig"></app-admin-profile>
</div>
