<nav class="navbar navbar-gray" *ngIf="notOnRegisterBuildingRoute()">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">

      <!-- start of navbar left-->
      <ul class="nav navbar-nav navbar-left">

        <!-- start of home option -->
        <li class="navbar-home">
          <a routerLinkActive="active" routerLink="/home">
            <span class="fa fa-home fa-lg"></span>
          </a>
        </li>
        <!-- end of home option -->

        <!-- start of damages option list for tenant and institution -->
        <li class="navbar-damage-dropdown" dropdown
            *ngIf="jwtService.hasRole('TENANT') && jwtService.getApartmentIdFromToken() !== -1">
          <a href dropdownToggle (click)="false">
            Damages
            <span class="fa fa-caret-down"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" id="dropdownMenuDamages">
            <li>
              <a (click)="setCategory('responsibleFor')">
                Damages I'm responsible for
              </a>
            </li>
            <li>
              <a (click)="setCategory('reported')">
                Damages I reported
              </a>
            </li>
            <li *ngIf="!jwtService.hasRole('COUNCIL_PRESIDENT')">
              <a (click)="setCategory('inMyApartment')">
                Damages in my apartment
              </a>
            </li>
            <li *ngIf="jwtService.hasRole('COUNCIL_PRESIDENT')">
              <a (click)="setCategory('inMyBuilding')">
                Damages in my building
              </a>
            </li>
            <li *ngIf="jwtService.getIsOwnerFromToken()">
              <a (click)="setCategory('inMyPersonalApartments')">
                Damages in my personal apartments
              </a>
            </li>
          </ul>
        </li>
        <!-- end of damages option list for tenant and institution -->

        <!-- start of council options for tenant -->
        <li class="navbar-council-dropdown" dropdown
            *ngIf="jwtService.hasRole('TENANT') && jwtService.getApartmentIdFromToken() !== -1 && jwtService.getIsCouncilMemberFromToken()">
          <a href dropdownToggle (click)="false">
            Council
            <span class="fa fa-caret-down"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" id="dropdownMenuCouncil">
            <li>
              <a routerLink="/meetings">
                <ng-container *ngIf="jwtService.hasRole('COUNCIL_PRESIDENT'); else meetingsForTenant">
                  Meetings
                </ng-container>
                <ng-template #meetingsForTenant>
                  Upcomming meetings
                </ng-template>
              </a>
            </li>
            <li>
              <a routerLink="/records">
                Records
              </a>
            </li>
            <li *ngIf="jwtService.hasRole('COUNCIL_PRESIDENT')">
              <a (click)="resignate()">
                Choose new president
              </a>
            </li>
            <li *ngIf="!jwtService.hasRole('COUNCIL_PRESIDENT')">
              <a (click)="delegateResponsibilityToRooommate()">
                Delegate membership of council
              </a>
            </li>
          </ul>
        </li>
        <!-- start of council options for tenant -->

        <!-- start of questionnaire option for tenant -->
        <li class="navbar-questionnaires-dropdown" dropdown
            *ngIf="jwtService.hasRole('TENANT') && jwtService.getApartmentIdFromToken() !== -1 && (jwtService.getIsOwnerFromToken() || jwtService.getIsCouncilMemberFromToken())">
          <a href dropdownToggle (click)="false">
            Questionnaires
            <span class="fa fa-caret-down"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" id="dropdownMenuQuestionnaires">
            <li *ngIf="jwtService.getIsOwnerFromToken()">
              <a routerLink="/questionnaires">
                Active questionnaires
              </a>
            </li>
            <li *ngIf="jwtService.getIsCouncilMemberFromToken()">
              <a routerLink="/questionnaires/results">
                Results
              </a>
            </li>
          </ul>
        </li>
        <!-- end of questionnaire option for tenant -->

        <!-- start of responsibility option list for institution -->
        <li class="navbar-responsibility-dropdown" dropdown *ngIf="jwtService.hasRole('INSTITUTION')">
          <a href dropdownToggle (click)="false">
            Responsibilities
            <span class="fa fa-caret-down"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" id="dropdownMenuResponsibility">
            <li>
              <a (click)="setCategory('responsibleFor')">
                Damages
              </a>
            </li>
            <li>
              <a routerLink="/damage-types">
                Damage types
              </a>
            </li>
          </ul>
        </li>
        <!-- end of responsibility option list for institution -->

        <!-- start of admins menu options -->
        <ng-container id="adminsNavbar" *ngIf="jwtService.hasRole('ADMIN') && notOnHomeRoute()">
          <li class="navbar-admins-option">
            <a routerLinkActive="active" routerLink="/admins">
              Admins
            </a>
          </li>
          <li class="navbar-tenants-option">
            <a routerLinkActive="active" routerLink="/tenants">
              Tenants
            </a>
          </li>
          <li class="navbar-businesses-option">
            <a routerLinkActive="active" routerLink="/businesses">
              Businesses
            </a>
          </li>
          <li class="navbar-buildings-option">
            <a routerLinkActive="active" routerLink="/buildings">
              Buildings
            </a>
          </li>
          <li class="navbar-apartments-option">
            <a routerLinkActive="active" routerLink="/apartments">
              Apartments
            </a>
          </li>
        </ng-container>
        <!--end of admins menu options -->

        <!--start of company menu option for buildings -->
        <ng-container *ngIf="jwtService.hasRole('COMPANY')">
          <li class="navbar-buildings-option">
            <a routerLinkActive="active" routerLink="/buildings">
              Buildings
            </a>
          </li>
        </ng-container>
        <!-- end of company menu option for buildings -->


        <!--start of business menu option for damage requests -->
        <ng-container *ngIf="jwtService.hasRole('COMPANY') || jwtService.hasRole('INSTITUTION')">
          <li class="navbar-damage-request-option">
            <a routerLinkActive="active" routerLink="/damage-requests">
              Damage Requests
            </a>
          </li>
        </ng-container>
        <!-- end of business menu option for requsets -->


      </ul>
      <!-- end of navbar left-->

      <!-- start of navbar right -->
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-personal-dropdown" dropdown>
          <a href dropdownToggle (click)="false">
            {{ jwtService.getUsernameFromToken() }}
            <span class="fa fa-caret-down"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" id="dropdownMenuPersonal">
            <li>
              <a routerLink="/profile">
                <span class="fa fa-user"></span> Profile
              </a>
            </li>
            <li *ngIf="jwtService.tokenExist()">
              <a (click)="logout()">
                <span class="fa fa-sign-out"></span> Sign out
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- end of navbar right -->

    </div>
  </div>
</nav>
