.buttons {
  text-align: center;
  color: white;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}

.new-answer-form {
  display: inline-flex;
  width: 100%;
}

.answer-list {
  max-height: 200px;
  overflow-y: scroll;
}

.btn-add-answer {
  margin-left: 3px;
  height: 35px;
}

#content {
  height: 100px;
}

textarea.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.modal-lg {
  margin-left: -25%!important;
}
