<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-body" *ngIf="model">

      <!-- start of question form -->
      <form #f="ngForm" (ngSubmit)="onSubmit()" (change)="changeExist(f.value)" accept-charset="UTF-8">

        <!-- start of question content -->
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            type="text"
            class="form-control"
            id="content"
            name="content"
            placeholder="content..."
            [(ngModel)]="model.content"
            #content="ngModel"
            required></textarea>
          <div *ngIf="content.touched && content.invalid" class="alert alert-danger">
            <div id="contentRequiredError" *ngIf="content.errors.required">
              The content is required!
            </div>
          </div>
        </div>
        <!-- end of question content -->

        <!-- start of question answer list -->
        <div class="form-group">
          <div>
            <label>Answers</label>
          </div>
          <hr *ngIf="model.answers && model.answers.length > 0"/>
          <div *ngIf="model.answers && model.answers.length > 0">
            <ul class="answer-list">
              <li *ngFor="let answer of model.answers">
                {{ answer }}
              </li>
            </ul>
          </div>
          <hr *ngIf="model.answers && model.answers.length > 0"/>

          <!-- start of new answer  -->
          <div class="new-answer-form">
            <input
              type="text"
              class="form-control"
              id="newAnswer"
              name="newAnswer"
              placeholder="new answer..."
              [(ngModel)]="newAnswer">
            <button class="btn btn-warning btn-add-answer" type="button" [disabled]="!newAnswer" (click)="addAnswer()">
              <span class="fa fa-plus"></span> Add
            </button>
          </div>
          <div id="onlyOneAnswerError" class="alert alert-danger" *ngIf="model.answers && model.answers.length === 1">
            Question must have at least 2 answers!
          </div>
          <!-- end of new answer  -->

        </div>
        <!-- end of question answer list -->

        <div class="buttons">
          <button class="btn btn-save" id="buttonSave" type="submit"
                  [disabled]="disableSaveAndReset || !f.valid || model.answers.length <= 1">Save
          </button>
          <button class="btn btn-reset" id="buttonReset" type="button" [disabled]="disableSaveAndReset" (click)="reset()">Reset</button>
          <button class="btn btn-warning" id="buttonCancel" type="button" (click)="modalRef.hide()">Cancel</button>
        </div>
      </form>
      <!-- end of question form -->

    </div>
  </div>
</div>
