<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4>Create new meeting</h4>
    </div>

    <div class="modal-body" *ngIf="model">
      <form #f="ngForm" (change)="changeExist(f.value)" accept-charset="UTF-8">

        <!-- start of first row in form: date and time -->
        <div class="row">
          <div class="col-md-12 col-md-offset-1">

            <!-- start of date for new meeting -->
            <div class="col-md-4">
              <div class="form-group">
                <div class="date-element">
                  <label for="meetingDate">Date</label>
                  <div class="form-inline">
                    <input
                      type="text"
                      class="form-control"
                      id="meetingDate"
                      name="meetingDate"
                      placeholder="date..."
                      [(ngModel)]="model.meetingDate"
                      [bsConfig]="bsConfig"
                      [minDate]="minDate"
                      (onHidden)="dateChange()"
                      bsDatepicker
                      #dp="bsDatepicker"
                      #meetingDate="ngModel"
                      required
                      readonly>
                    <button class="btn btn-date" type="button" (click)="dp.show()"><span class="fa fa-calendar"></span>
                    </button>
                  </div>
                </div>
                <div *ngIf="meetingDate.touched && meetingDate.invalid" class="alert alert-danger date-element-alert">
                  <div *ngIf="meetingDate.errors.required">
                    The date is required!
                  </div>
                </div>
              </div>
            </div>
            <!-- end of date for new meeting -->

            <!-- start of time for new meeting -->
            <div class="col-md-7">
              <div class="form-group">
                <div class="time-element">
                  <label for="timeForMeeting">Time</label>
                  <div class="form-inline">
                    <timepicker
                      id="timeForMeeting"
                      [(ngModel)]="meetingTime"
                      [ngModelOptions]="{standalone: true}"
                      [showMeridian]="false"
                      [min]="minTime"
                      [max]="maxTime"
                      [customMinTime]="minTime"
                      [customMaxTime]="maxTime"
                      (isValid)="timeChange()"
                      #timeForMeeting="ngModel"
                      [required]="true">
                    </timepicker>
                  </div>
                </div>
                <div *ngIf="timeForMeeting.invalid" class="alert alert-danger time-element-alert">
                  <div id="meetingTimeRequiredError" *ngIf="timeForMeeting.errors.required; else minTimeValue">
                    The time is required!
                  </div>
                  <ng-template #minTimeValue>
                    <ng-container *ngIf="timeForMeeting.errors.customMinTime; else maxTimeValue">
                      <div id="meetingTimeMinValueError">
                        Minimal value is 08:00!
                      </div>
                    </ng-container>
                  </ng-template>
                  <ng-template #maxTimeValue>
                    <ng-container *ngIf="timeForMeeting.errors.customMaxTime">
                      <div id="meetingTimeMaxValueError">
                        Maximal value is 17:00!
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
            <!-- end of time for new meeting -->
          </div>
        </div>
        <!-- start of first row in form: date and time -->

        <!-- start of second row in form: duration -->
        <div class="row">
          <div class="col-md-12 col-md-offset-3">

            <!-- start of duration of new meeting-->
            <div class="col-md-6">
              <div class="form-group">
                <div class="duration-element">
                  <label for="duration">Duration (in minutes)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="duration"
                    name="duration"
                    placeholder="duration..."
                    [(ngModel)]="model.duration"
                    #duration="ngModel"
                    required
                    [customMin]="minValue"
                    [customMax]="maxValue">
                </div>
                <div *ngIf="duration.touched && duration.invalid" class="alert alert-danger duration-element-alert">
                  <div id="meetingDurationRequiredError" *ngIf="duration.errors.required; else minimalValue">
                    The duration is required!
                  </div>
                  <ng-template #minimalValue>
                    <ng-container *ngIf="duration.errors.customMin; else maximalValue">
                      <div id="meetingDurationMinValueError">
                        Minimal duration is {{ minValue }} minutes!
                      </div>
                    </ng-container>
                  </ng-template>
                  <ng-template #maximalValue>
                    <ng-container *ngIf="duration.errors.customMax">
                      <div id="meetingDurationMaxValueError">
                        Maximal duration is {{ maxValue }} minutes!
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
            <!-- end of duration of new meeting-->

          </div>
        </div>
        <!-- end of second row in form: duration -->

      </form>

      <!-- start of selected meeting items -->
      <div class="selected-meeting-item-list">
        <ng-container *ngIf="selectedMeetingItems">
          <div *ngIf="selectedMeetingItems.length > 0">
            <div class="meeting-item-list">
              <h4>Selected meeting items for this meeting:</h4>
            </div>
            <div class="panel panel-default"
                 *ngFor="let meetingItem of selectedMeetingItems">

              <!-- start of meeting-details item panel heading -->
              <div class="panel-heading">
                <div class="row">
                  <div class="meeting-item-in-meeting-title">
                    {{ meetingItem.title }}
                  </div>
                  <div class="meeting-item-in-meeting-menu" *ngIf="meetingItem.questionnaire">
                      <span class="fa fa-ellipsis-v" title="More options for meeting item"
                            [popover]="popTemplate" placement="left" [outsideClick]="true"
                            #popMeeting="bs-popover"></span>
                    <ng-template #popTemplate>
                      <div>
                        <a (click)="popMeeting.hide(); viewQuestionnaire(meetingItem)">
                          <span class="fa fa-info"></span> View questionnaire
                        </a>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="meeting-item-in-meeting-metadata">
                  <span class="fa fa-user"></span>
                  <span
                    id="meetingItemInMeetingCreatorName">{{ meetingItem.creator.firstName }} {{ meetingItem.creator.lastName }}</span>
                  <span class="fa fa-clock-o"></span>
                  <span>{{ meetingItem.date | dateTimeFormat }}</span>
                </div>
              </div>
              <!-- start of meeting-details item panel heading -->

              <!-- start of meeting-details item panel body -->
              <div class="panel-body">
                {{ meetingItem.content }}
              </div>
              <!-- end of meeting-details item panel body -->

              <!-- start of damage description for selected meeting-details item -->
              <ul class="list-group">
                <li class="list-group-item" *ngIf="meetingItem.damageId">
                  <b>This meeting item is related to damage with next description: </b> <br>
                  {{ meetingItem.damageDescription }}
                </li>
              </ul>
              <!-- end of damage description for selected meeting-details item -->

            </div>

            <div class="col-md-12 div-page">
              <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                          [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;"
                          nextText="&rsaquo;"
                          firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>


          <a class="choose-meeting-items-link" (click)="showExistingMeetingItems()">
            <span class="fa fa-list"></span> Manage meeting items for this meeting
          </a>

        </ng-container>
      </div>

      <!-- end of selected meeting items -->

      <div class="buttons">
        <button class="btn btn-save" type="submit"
                [disabled]="disableSaveAndReset || !f.valid || selectedMeetingItems.length === 0" (click)="save()">
          Save
        </button>
        <button class="btn btn-reset" type="button"
                [disabled]="disableSaveAndReset && !dateChanged && !meetingItemListChanged && !timeChanged"
                (click)="reset()">
          Reset
        </button>
        <button class="btn btn-warning" type="button" (click)="modalRef.hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>

