input[readonly] {
  background-color: white;
}

.buttons, .div-page {
  text-align: center;
}

.buttons-row {
  color: white;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}

input.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}

.btn-date {
  background-color: rgb(66, 139, 202);
  color: white;
}

.date-element, .duration-element, .time-element {
  display: inline-flex;
}

.date-element {
  margin-top: 22px;
}

.time-element > label {
  margin-top: 25px;
}

label {
  margin-right: 5px;
  margin-top: 5px;
}

.date-element-alert {
  margin-left: 30px;
}

.duration-element-alert {
  margin-left: 150px;
}

.time-element-alert {
  margin-left: 50px;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

#duration {
  width: 220px;
}

.meeting-item-in-meeting-menu span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.meeting-item-in-meeting-metadata {
  color: gray;
}

.meeting-item-in-meeting-title {
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding-left: 15px;
}

.meeting-item-in-meeting-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

#meetingItemInMeetingCreatorName {
  margin-right: 15px;
}

div.meeting-item-in-meeting-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.meeting-item-list {
  margin-bottom: 20px;
  text-align: center;
}

.selected-meeting-item-list {
  margin-top: 20px;
  margin-bottom: 30px;
}

.choose-meeting-items-link {
  cursor: hand;
}

.meeting-item-in-meeting-metadata span.fa {
  color: rgb(66, 139, 202);
}
