<div class="container">
  <div class="row">
    <div>
      <!-- start of Map of tenant address -->
      <div class="row" *ngIf="tenant">
        <div class="panel panel-default" *ngIf="tenant.address">
          <div class="panel-heading">
            <div class="panel-heading-location">
              <span class="fa fa-map-marker"></span> Location of apartment
            </div>
            <div>
              <div><b>Street:</b> {{ tenant.address.street }} {{ tenant.address.number }}</div>
              <div><b>City:</b> {{ tenant.address.city.name }}, {{ tenant.address.city.postalNumber }}</div>
            </div>
          </div>
          <div class="panel-body">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <!-- end of Map of tenant address -->

      <table class="table table-hover table-condensed" id="tenantTable" *ngIf="tenant">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td><b>First name</b></td>
          <td>{{tenant.firstName}}</td>
        </tr>
        <tr>
          <td><b>Last name</b></td>
          <td>{{tenant.lastName}}</td>
        </tr>
        <tr>
          <td><b>Username</b></td>
          <td>{{tenant.username}}</td>
        </tr>
        <tr>
          <td><b>Birthday</b></td>
          <td>{{tenant.birthDate | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td>{{tenant.email}}</td>
        </tr>
        <tr>
          <td><b>Phone number</b></td>
          <td>{{tenant.phoneNumber}}</td>
        </tr>
        <tr *ngIf="tenant.address">
          <td><b>City</b></td>
          <td>{{tenant.address.city.name}}</td>
        </tr>
        <tr *ngIf="tenant.address">
          <td><b>Postal number</b></td>
          <td>{{tenant.address.city.postalNumber}}</td>
        </tr>
        <tr *ngIf="tenant.address">
          <td><b>Street</b></td>
          <td>{{tenant.address.street}}</td>
        </tr>
        <tr *ngIf="tenant.address">
          <td><b>Number</b></td>
          <td>{{tenant.address.number}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
