<div class="container col-md-offset-1 col-md-10" *ngIf="damage">

  <div class="page-title">
    <h3>Damage details</h3>
  </div>

  <!-- start of damage panel -->
  <div class="panel panel-default panel-damage" [ngClass]="{'panel-urgent': damage.urgent}">

    <!-- start of damage panel heading -->
    <div class="panel-heading panel-damage-heading">
      <span class="fa fa-user"></span>
      <span id="damageCreatorName">{{ damage.creator.firstName }} {{ damage.creator.lastName }}</span>
      <span class="fa fa-clock-o"></span>
      <span>{{ damage.date | dateTimeFormat }}</span>
    </div>
    <!-- end of damage panel heading -->

    <!-- start of damage panel body -->
    <div class="panel-body panel-damage-body">
      <p><b>Description</b></p>
      <p>
        {{ damage.description }}
      </p>
      <div *ngIf="damage.image">
        <a (click)="toggleImage()">
          <ng-container *ngIf="!imageShow; else imageHide">
            See image of this damage
          </ng-container>
          <ng-template #imageHide>
            Hide image of this damage
          </ng-template>
        </a>
      </div>
      <div *ngIf="damage.image && imageShow">
        <div id="image" *ngIf="damage.image">
          <img [src]="'data:image/jpeg;base64,' + damage.image">
        </div>
      </div>
    </div>
    <!-- end of damage panel body -->

    <!-- start of damage metadata -->
    <ul class="list-group">
      <li class="list-group-item">
        <b>Type: </b> {{ damage.typeName | damage_type_format }}
      </li>
      <li class="list-group-item">
        <b>Address:</b> {{ damage.address.city.name }}, {{ damage.address.city.postalNumber }} <br>
        <span class="address-street">{{ damage.address.street }} {{ damage.address.number}} </span> <br>
        <span class="address-apartment" *ngIf="damage.apartmentId"> {{ damage.floorNumber | floor }} floor, {{ damage.apartmentNumber }} </span>
      </li>
      <li class="list-group-item" *ngIf="damage.responsiblePerson">
        <b>Responsible person: </b> {{ damage.responsiblePerson.firstName }} {{ damage.responsiblePerson.lastName }}
        <span *ngIf="damage.responsiblePerson.username === jwtService.getUsernameFromToken()">(me)</span>
      </li>
      <li class="list-group-item" *ngIf="damage.responsibleInstitution">
        <b>Responsible institution: </b> {{ damage.responsibleInstitution.name }} <br>
        <span class="address-institution-city"> {{ damage.responsibleInstitution.address.city.name }},
          {{ damage.responsibleInstitution.address.city.postalNumber }} </span> <br>
        <span class="address-institution-street"> {{ damage.responsibleInstitution.address.street }}
          {{ damage.responsibleInstitution.address.number }} </span>
      </li>
      <li class="list-group-item" *ngIf="damage.selectedBusiness">
        <b>Selected firm/institution for repairing: </b> {{ damage.selectedBusiness.name }} <br>
        <span class="address-business-city"> {{ damage.selectedBusiness.address.city.name }},
          {{ damage.selectedBusiness.address.city.postalNumber }} </span> <br>
        <span class="address-business-street"> {{ damage.selectedBusiness.address.street }}
          {{ damage.selectedBusiness.address.number }} </span>
      </li>
    </ul>
    <!-- end of damage metadata -->

    <div class="label-urgent" *ngIf="damage.urgent">
      <b>Urgent</b>
    </div>
  </div>
  <!-- end of damage panel -->

  <!-- start of comment list -->
  <div class="comments-section" *ngIf="commentList">
    <div id="commentList" *ngIf="(commentList.length > 0 || (havePermissionForComment() && commentList.length === 0)); else noCommentInList">
      <div class="comments-section-header">
        <div class="comments-title">
          <h4>Comments</h4>
        </div>
        <div class="comments-button-add">
          <button class="btn btn-warning btn-add" type="button" *ngIf="havePermissionForComment()" (click)="add()">
            <span class="fa fa-plus"></span> Add
          </button>
        </div>
      </div>

      <ng-container *ngIf="havePermissionForComment() && commentList.length > 0; else noCommentInListWithPermission">
        <!-- start of comment panel-->
        <div class="panel panel-default" *ngFor="let comment of commentList">

          <!-- start of comment panel heading -->
          <div class="panel-heading panel-comment-heading">
            <div class="comment-metadata">

              <!-- strt of comment creator and date -->
              <span class="fa fa-user"></span>
              <span id="commentCreatorUsername"> {{ comment.creatorUsername }} </span>
              <span class="fa fa-clock-o"></span>
              <span>{{ comment.date | dateTimeFormat }}</span>
              <!-- end of creator and date -->

              <!-- start of edit options for comment -->
              <div class="comment-menu"
                   *ngIf="comment.creatorUsername === jwtService.getUsernameFromToken() &&
                    damage.responsiblePerson && damage.responsiblePerson.username === jwtService.getUsernameFromToken()">
                <span class="fa fa-ellipsis-v" title="Edit or remove comment"
                  [popover]="popTemplate" placement="left" [outsideClick]="true"></span>
                <ng-template #popTemplate>
                  <div id="commentPopover">
                    <div>
                      <a (click)="edit(comment)">
                        <span class="fa fa-pencil"></span> Edit
                      </a>
                    </div>
                    <div>
                      <a (click)="remove(comment)">
                        <span class="fa fa-trash"></span> Remove
                      </a>
                    </div>
                  </div>
                </ng-template>
              </div>
              <!-- end of edit options for comment -->

            </div>
          </div>
          <!-- start of comment panel heading -->

          <!-- start of comment panel body -->
          <div class="panel-body panel-comment-body">
            {{ comment.content }}
          </div>
          <!-- end of comment panel body -->
        </div>

        <div class="col-md-12 div-page">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                      [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
        </div>
        <!-- end of comment panel-->
      </ng-container>

      <ng-template #noCommentInListWithPermission>
        <div id="messageEmptyListWithPermission">
          There is still no comments on this damage...
        </div>
      </ng-template>
    </div>

    <ng-template #noCommentInList>
      <div id="messageEmptyList">
        <h4>There is still no comments on this damage...</h4>
      </div>
    </ng-template>
  </div>
  <!-- end of comment list -->

</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
