.container {
  margin-top: 10px;
}

.page-title {
  text-align: center;
  margin-bottom: 2%;
}

span.fa {
  color: rgb(66, 139, 202);
}

.panel-damage, .panel-damage-heading, .panel-damage-body {
  border-color: #3c3c3c;
}

.panel-heading {
  color: gray;
}

.panel-urgent {
  border-color: rgb(255, 100, 90);
  border-width: 2px;
}

.label-urgent {
  background-color: rgb(255, 100, 90);
  text-align: center;
  color: white;
  float: right;
  width: 60px;
  height: 20px;
  border-radius: 2px;
  margin-top: -20px;
  position: relative;
}

.address-street, .address-apartment {
  margin-left: 66px;
}

.address-institution-street, .address-institution-city {
  margin-left: 172px;
}

.address-business-city, .address-business-street {
  margin-left: 273px;
}

.comments-section {
  margin-top: 50px;
}

.comment-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

div.comment-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.div-page, #messageEmptyList, #messageEmptyListWithPermission {
  text-align: center;
}

.comments-section-header {
  display: inline-block;
  width: 100%;
}

.comments-title {
  float: left;
}

.comments-button-add {
  float: right;
  margin-top: 2px;
}

.comments-button-add span {
  color: white;
}

#damageCreatorName {
  margin-right: 15px;
}

#image > img {
  width: 400px;
}

.panel-damage-body a {
  cursor: hand;
}

b {
  font-size: 15px;
}

#messageEmptyList, #messageEmptyListWithPermission {
  margin-top: 30px;
}
