<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="thisAccountModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="">
    <ul>
      <ng-container *ngIf="accountsList != null">
        <ng-template ngFor let-item [ngForOf]="accountsList">
          <li style="list-style: none" *ngIf="item.username !== username">
            <span>{{item.username}}</span>
            <span style="float:right"><a (click)="removeUsername(item)"
                     type="button">
                      <i class="fa fa-trash"></i>
                    </a></span>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="thisAccountModalRef.hide()">Close</button>
  <button type="button" class="btn btn-new-account" (click)="displayAddAccount()">New account</button>
</div>)


