span.fa {
  color: rgb(66, 139, 202);
}

span.fa-ellipsis-v {
  width: 15px;
  text-align: center;
  color: #3c3c3c;
  cursor: hand;
}

.damage-metadata {
  color: gray;
}

.damage-menu {
  font-size: 16px;
  float: right;
  padding-top: 2px;
  padding-right: 13px;
}

div.damage-menu a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

#damageCreatorName {
  margin-right: 15px;
}

.container {
  margin-top: 25px;
}

div a {
  cursor: hand;
  color: #3c3c3c;
  text-decoration: none;
}

.input-group-addon, .btn-search {
  background-color: rgb(66, 139, 202);
  color: white;
}

.btn-add, .btn-clear, .btn > span.fa {
  color: white;
}

.btn-clear {
  background-color: #3c3c3c;
}

input[readonly] {
  background-color: white;
}

.row, .damage-type-paragraph {
  margin-bottom: 10px;
}

.damage-description-paragraph {
  margin-bottom: -3px;
}

.div-add, .div-responsibility-option {
  float: right;
}

.div-responsibility-option {
  margin-top: 10px;
  font-size: 15px;
  text-align: right;
}

.dropdown-menu {
  padding-left: 10px;
}

.dropdown-menu > li, .div-responsibility-option {
  cursor: hand;
}

#fromToDate, .row-title, .div-page {
  text-align: center;
}

.row-title {
  margin-top: -20px;
}

.search-group {
  width: 100%;
}

.input-group-urgent-filter {
  float: left;
  width: 50%;
}

.input-group-type-filter {
  float: right;
  width: 45%;
}

.btn-urgent-filter, .btn-type-filter {
  border-radius: 5px!important;
  width: 100%;
}

.panel-urgent {
  border-color: rgb(255, 100, 90)!important;
  border-width: 2px;
}

.panel-fixing {
  border-color: rgb(66, 139, 202);
  border-width: 2px;
}

.panel-fixed {
  border-color: rgb(100, 150, 100)!important;
  border-width: 2px;
}

.panel-both .label-fixing {
  margin-right: 0px!important;
}

.label-urgent {
  background-color: rgb(255, 100, 90);
  text-align: center;
  color: white;
  float: right;
  width: 60px;
  height: 20px;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: -15px;
  margin-right: -15px;
}

.label-fixing {
  background-color: rgb(66, 139, 202);
  text-align: center;
  color: white;
  float: right;
  width: 120px;
  height: 20px;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: -15px;
  margin-right: -15px;
}

.label-fixed {
  background-color: rgb(100, 150, 100);
  text-align: center;
  color: white;
  float: right;
  width: 60px;
  height: 20px;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: -15px;
  margin-right: -15px;
}

#messageEmptyList {
  text-align: center;
  margin-top: 30px;
}
