<div class="container">
  <div class="row row-title">
    <h3>{{ title }}</h3>
  </div>

  <!-- start of search, filter for damages list-->
  <div class="row">

    <!-- start of date range input -->
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input
          id="fromToDate"
          placeholder="From - To"
          type="text"
          class="form-control"
          [bsConfig]="bsConfig"
          [maxDate]="maxDate"
          (onHidden)="setTime()"
          bsDaterangepicker
          [(ngModel)]="daterangepickerModel"
          readonly>
        <span class="input-group-btn">
            <button class="btn btn-clear" type="button" (click)="reset()">
              <span class="fa fa-remove"></span> Clear
            </button>
          </span>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-search" type="button" (click)="search()">
        <span class="fa fa-search"></span> Search
      </button>
    </div>
    <!-- end of date range input -->

    <!-- start of add button -->
    <div class="col-md-1 div-add" *ngIf="category === 'reported'">
      <button class="btn btn-add btn-warning" type="button" (click)="add()">
        <span class="fa fa-plus"></span> Add
      </button>
    </div>
    <!-- end of add button -->

    <!-- start of damage type responsibility option for tenant -->
    <div class="col-md-4 div-responsibility-option"
         *ngIf="category === 'responsibleFor' && jwtService.hasRole('TENANT')">
      <a (click)="showDamageTypeResponsibilities(true)">
        <span class="fa fa-list"></span> <b>My responsibilities for damage types</b>
      </a>
    </div>
    <!-- start of damage type responsibility option for tenant -->

    <!-- start of damage type responsibility option for tenant -->
    <div class="col-md-4 div-responsibility-option" *ngIf="category === 'inMyBuilding'">
      <a (click)="showDamageTypeResponsibilities(false)">
        <span class="fa fa-list"></span> <b>Responsibilities for damage types in building</b>
      </a>
    </div>
    <!-- start of damage type responsibility option for tenant -->

  </div>
  <!-- end of search, filter for damage list-->

  <ng-container *ngIf="damageList">
    <div *ngIf="damageList.length > 0; else noDamageInList">
      <div id="damageList">
        <div class="panel panel-default" *ngFor="let damage of damageList"
             [ngClass]="{'panel-urgent': damage.urgent && !damage.fixed, 'panel-fixing': damage.selectedBusiness && !damage.fixed,
                         'panel-both': damage.urgent && damage.selectedBusiness && !damage.fixed, 'panel-fixed': damage.fixed}">

          <!-- start of damage panel heading -->
          <div class="panel-heading">
            <div class="damage-metadata">
              <span class="fa fa-user"></span>
              <span id="damageCreatorName">{{ damage.creator.firstName }} {{ damage.creator.lastName }}</span>
              <span class="fa fa-clock-o"></span>
              <span>{{ damage.date | dateTimeFormat }}</span>
              <div class="damage-menu">
                <span class="fa fa-ellipsis-v" title="More options for damage"
                  [popover]="popTemplate" placement="left" [outsideClick]="true" #pop="bs-popover"></span>
                <ng-template #popTemplate>
                  <div id="damagePopover">
                    <div>
                      <a (click)="details(damage)">
                        <span class="fa fa-info"></span> Damage details
                      </a>
                    </div>

                    <div *ngIf="category === 'forFixing'">
                      <a (click)="pop.hide(); declareDamageFixed(damage)">
                        <span class="fa fa-check"></span> Declare fixed
                      </a>
                    </div>

                    <div *ngIf="category === 'reported'">
                      <a (click)="pop.hide(); edit(damage)" *ngIf="!damage.selectedBusiness">
                        <span class="fa fa-pencil"></span> Edit damage
                      </a>
                    </div>
                    <div *ngIf="category === 'reported'">
                      <a (click)="pop.hide(); remove(damage)" *ngIf="!damage.selectedBusiness">
                        <span class="fa fa-trash"></span> Remove damage
                      </a>
                    </div>

                    <div *ngIf="category === 'responsibleFor'">
                      <a (click)="pop.hide(); delegateToPerson(damage)" *ngIf="jwtService.hasRole('TENANT')">
                        <span class="fa fa-share"></span> Delegate responsibility
                      </a>
                      <a (click)="pop.hide(); delegateToInstitution(damage)" *ngIf="jwtService.hasRole('INSTITUTION')">
                        <span class="fa fa-share"></span> Delegate responsibility
                      </a>
                    </div>
                    <div *ngIf="category === 'responsibleFor' && !damage.selectedBusiness">
                      <a (click)="pop.hide(); findFirmOrInstitution(damage)" id="selectBusiness">
                        <span class="fa fa-wrench"></span> Find who'll fix damage
                      </a>
                      <br/>
                      <a (click)="pop.hide(); sendDamageToBusinesses(damage)" id="sendRequest">
                        <span class="fa fa-envelope"></span> Send request for offer
                      </a>
                    </div>

                    <div *ngIf="category === 'inMyBuilding'">
                      <a (click)="pop.hide(); setResponsibleInstitution(damage)"
                         *ngIf="!damage.fixed && !damage.responsibleInstitution">
                        <span class="fa fa-share"></span> Add responsibility
                      </a>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <!-- start of damage panel heading -->

          <!-- start of damage panel body -->
          <div class="panel-body">
            <p class="damage-type-paragraph"><b>Type:</b> {{ damage.typeName | damage_type_format }} </p>
            <p class="damage-description-paragraph"><b>Description</b></p>
            <p>{{ damage.description }}</p>
            <div class="label-urgent" *ngIf="damage.urgent && !damage.fixed">
              <b>Urgent</b>
            </div>
            <div class="label-fixing" *ngIf="damage.selectedBusiness && !damage.fixed">
              <b>In fixing process</b>
            </div>
            <div class="label-fixed" *ngIf="damage.fixed">
              <b>Fixed</b>
            </div>
          </div>
          <!-- end of damage panel body -->

        </div>

        <div class="col-md-12 div-page">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                      [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                      firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>

    <ng-template #noDamageInList>
      <div id="messageEmptyList">
        <h4 *ngIf="!isSearchMode; else noDamagesInDateRange">There is still no damages...</h4>
        <ng-template #noDamagesInDateRange>
          <h4>There is no damages in given date range...</h4>
        </ng-template>
      </div>
    </ng-template>
  </ng-container>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
