<div class="modal-header">
  <h4 class="modal-title pull-left">Choose manager</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="businesses">
    <div *ngIf="businesses.length > 0; else noElements">
      <table class="table table-hover table-condensed" id="businessTable">
        <thead>
        <tr>
          <th><i class="fa fa-user"></i> Name </th>
          <th><i class="fa fa-wrench"></i> Business Type</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bus of businesses">
          <td>{{bus.name}}</td>
          <td>{{bus.businessType | business_type}}</td>
          <td>
            <button *ngIf="manager.length == 0" type="button" class="btn btn-default" (click)="choose(bus)">
              <i class="fa fa-check"></i>&nbsp;&nbsp;Choose
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-12 div-page">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                    [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                    firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
    <ng-template #noElements>
      <h3 i>Sorry, there are no businesses! </h3>
    </ng-template>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Close</button>
</div>
