.fa{
  color: rgb(66, 139, 202);
}

.fa-check{
  color: rgb(66, 139, 202);
}

.btn-default{
  color: black;
}

tr, td, th{
  text-align: center;
}

.row{
  margin: auto;
}

#businessTable{
  padding-top: 5%;
}

#businessTable thead{
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}
#businessTable thead th span {
  visibility: hidden;
}

#businessTable thead th.active span {
  visibility: visible;
}



