<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Update damage</h4>
    </div>

    <div class="modal-body" *ngIf="model">

      <!-- start of add damage form -->
      <form #f="ngForm" (ngSubmit)="onSubmit()" (change)="changeExist(f.value)" accept-charset="UTF-8">

        <!-- start of description -->
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            placeholder="description..."
            [(ngModel)]="model.description"
            #description="ngModel"
            required>
          </textarea>
          <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
            <div id="descriptionRequiredError" *ngIf="description.errors.required">
              The description is required!
            </div>
          </div>
        </div>
        <!-- end of description -->

        <!-- start of row with dropdowns -->
        <div class="row">

          <!-- start of urgency -->
          <div class="col-md-4">
            <div class="form-group form-inline">
              <label for="urgent">Urgency</label>
              <div class="dropdown urgency-dropdown">
                <select
                  class="form-control"
                  id="urgent"
                  name="urgent"
                  [(ngModel)]="model.urgent">
                  <option *ngFor="let urgency of [false, true]; let i = index"
                          [value]="urgency">
                    {{ urgency ? 'Urgent' : 'Not urgent' }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- end of urgency -->

        </div>
        <!-- end of row with dropdowns -->

        <!-- start of buttons group -->
        <div class="row buttons-row">
          <button class="btn btn-save" type="submit" [disabled]="disableSaveAndReset || !f.valid">Save</button>
          <button class="btn btn-reset" type="button" [disabled]="disableSaveAndReset" (click)="reset()">Reset</button>
          <button class="btn btn-warning" type="button" (click)="modalRef.hide()">Cancel</button>
        </div>
        <!-- start of buttons group -->

      </form>
      <!-- end of add damage form -->

    </div>
  </div>
</div>
