#description {
  height: 250px;
}

.modal-title, .buttons-row {
  text-align: center;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}

.form-inline {
  display: flex;
}

.form-inline > label {
  margin-top: 5px;
  margin-right: 5px;
}

.urgency-dropdown {
  width: 60%;
}

select {
  width: 100%!important;
}

.buttons-row {
  color: white;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}

textarea.ng-invalid.ng-touched {
  border-color: rgb(255, 100, 90);
}
