<div class="business-registration-background"></div>
<div class="container">
  <div class="row">
    <div class="panel panel-business-registration">
      <div class="panel-heading">
        <h3 class="panel-title" id="pageTitle">Please fill the form</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <form [formGroup]="form" (ngSubmit)="register()" accept-charset="UTF-8">

            <div class="col-xs-6 form-left">

              <div class="form-group">
                <input
                  formControlName="name"
                  id="name"
                  placeholder="name..."
                  type="text"
                  class="form-control">
                <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                  <div id="nameRequiredError" *ngIf="name.errors.required; else firstNameMinLength">
                    The name is required!
                  </div>
                  <ng-template #firstNameMinLength>
                    <ng-container *ngIf="name.errors.minlength">
                      <div id="nameMinimumLengthError">
                        Minimum length is {{name.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="email"
                  id="email"
                  placeholder="email..."
                  type="text"
                  class="form-control">
                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                  <div id="emailRequiredError" *ngIf="email.errors.required; else emailPattern">
                    The email is required!
                  </div>
                  <ng-template #emailPattern>
                    <ng-container *ngIf="email.errors.email">
                      <div id="validEmailError">
                        Please provide a valid email address.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="phoneNumber"
                  id="phoneNumber"
                  placeholder="phone number..."
                  type="text"
                  class="form-control">
                <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
                  <div id="phoneNumberRequiredError" *ngIf="phoneNumber.errors.required; else phoneNumberContainsSpace">
                    The phone number is required!
                  </div>
                  <ng-template #phoneNumberContainsSpace>
                    <ng-container *ngIf="phoneNumber.errors.cannotContainSpace; else phoneNumberPattern">
                      <div id="phoneNumberSpaceError">
                        The phone number can't contain space.
                      </div>
                    </ng-container>
                  </ng-template>
                  <ng-template #phoneNumberPattern>
                    <ng-container *ngIf="phoneNumber.errors.pattern">
                      <div id="phoneNumberLengthError">
                        The phone must contain between 6 and 10 numbers.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <div class="dropdown">
                  <select
                    id="businessType"
                    class="form-control"
                    (change)="onChange($event.target.value)">
                    <option *ngFor="let name of businessTypes; let i = index"
                            [selected]="i === 0"
                            [value]="name">{{name | business_type}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="">
                <span class="account-header">Accounts</span>
                <ol>
                  <ng-container *ngIf="logins != null" id="accountsContainer">
                    <li *ngFor="let user of logins" style="list-style: none">
                      <span>{{user.username}}</span>
                      <span style="float: right;"><a (click)="removeUsername(user)"
                                                     data-original-title="Delete User" data-toggle="tooltip"
                                                     type="button" class="btn btn-xs danger">
                      <i class="glyphicon glyphicon-trash"></i>
                      </a></span>
                    </li>
                  </ng-container>
                </ol>
                <button class="btn btn-primary account" type="button" (click)="displayAddAccount()">Add new account
                </button>
              </div>
            </div>

            <div class="col-xs-6 form-right">
              <div class="form-group">
                <input
                  formControlName="street"
                  id="street"
                  placeholder="street..."
                  type="text"
                  class="form-control">
                <div *ngIf="street.touched && street.invalid" class="alert alert-danger">
                  <div id="streetRequiredError" *ngIf="street.errors.required; else descriptionMinLength">
                    The street is required!
                  </div>
                  <ng-template #descriptionMinLength>
                    <ng-container *ngIf="street.errors.minlength">
                      <div id="streetMinimumLegthError">
                        Minimum length is {{street.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="number"
                  id="number"
                  placeholder="street number..."
                  type="text"
                  class="form-control">
                <div *ngIf="number.touched && number.invalid" class="alert alert-danger">
                  <div id="numberRequiredError" *ngIf="number.errors.required; else numberContainsSpace">
                    The number is required!
                  </div>
                  <ng-template #numberContainsSpace>
                    <ng-container *ngIf="number.errors.cannotContainSpace;">
                      <div id="numberSpaceError">
                        The number can't contain space.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="city"
                  id="city"
                  placeholder="city..."
                  type="text"
                  class="form-control">
                <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
                  <div id="cityRequiredError" *ngIf="city.errors.required;">
                    The city is required!
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input
                  formControlName="postalCode"
                  id="postalCode"
                  placeholder="postal code..."
                  type="text"
                  class="form-control">
                <div *ngIf="postalCode.touched && postalCode.invalid" class="alert alert-danger">
                  <div id="postalCodeRequiredError" *ngIf="postalCode.errors.required; else postalCodePattern">
                    Postal code is required!
                  </div>
                  <ng-template #postalCodePattern>
                    <ng-container *ngIf="postalCode.errors.pattern">
                      <div id="postalCodeLengthError">
                        The postal code must contain exactly 5 digits.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>

              <div class="form-group">
                  <textarea
                    class="form-control"
                    rows="5"
                    formControlName="description"
                    id="description"
                    placeholder="description..."></textarea>
                <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
                  <div id="descriptionRequiredError" *ngIf="description.errors.required; else descriptionLength">
                    Description is required!
                  </div>
                  <ng-template #descriptionLength>
                    <ng-container *ngIf="description.errors.minlength">
                      <div id="descriptionMinimumLengthError">
                        Minimum length is {{description.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <button class="btn save" type="submit" [disabled]="!form.valid || (logins.length <= 0)">Register</button>
              <div class="link-to-login">
                Back to <a routerLink="/login">login page</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

