<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        Choose some of these tenants and delegate your responsibility
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div *ngIf="tenantsList">
        <div *ngIf="tenantsList.length > 0; else noMoreTenants">
          <table class="table table-hover table-condensed" id="tenantsTable">
            <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Username</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let tenant of tenantsList">
              <td>{{ tenant.firstName }}</td>
              <td>{{ tenant.lastName }}</td>
              <td>{{ tenant.username }}</td>
              <td>
                  <button class="btn btn-delegate" (click)="delegateResponsibility(tenant)">
                    <span class="fa fa-send"></span> Delegate
                  </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="page-div">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;"
                        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>

        <ng-template #noMoreTenants>
          <div id="messageNoTenants">
            <ng-container *ngIf="choosePresident; else noMoreRoommate">
              <p>There is no other tenants in council of this building,
                so you can't delegate your responsibility now!</p>
            </ng-container>
            <ng-template #noMoreRoommate>
              <p>There is no other person in your apartment,
                so you can't delegate your responsibility now!</p>
            </ng-template>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
