tr, td, th, #messageNoTenants, .page-div {
  text-align: center;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}

.btn-delegate {
  color: white;
  background-color: rgb(66, 139, 202);
  height: 30px;
}

.page-div {
  width: 100%;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body, table {
  font-size: 15px;
}

table, #messageNoTenants {
  margin-top: 15px;
}
