<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Questionnaire in meeting item</h4>
    </div>

    <div class="modal-body" *ngIf="model">
      <!-- start questions list review -->
      <div id="questionsPanel" class="panel panel-default" *ngIf="model.questions && model.questions.length > 0">
        <div class="panel-heading">
          <h4>Questions:</h4>
        </div>
        <ul class="list-group question-list">
          <li class="list-group-item" *ngFor="let question of model.questions;">
            <b>Content: </b> <br>
            <p>{{ question.content | questionContent }}</p>
            <b>Answers: </b>
            <ng-container *ngIf="question.answers && question.answers.length > 0">
              <div>
                <ul>
                  <li *ngFor="let answer of question.answers">
                    {{ answer }}
                  </li>
                </ul>
              </div>
            </ng-container>
            <span class="fa fa-trash" (click)="removeQuestion(question)" title="Remove question"
                  *ngIf="!isReviewMode"></span>
          </li>
        </ul>
      </div>
      <!-- end question list review -->

      <!-- start question create and damage link -->
      <div class="question-links" *ngIf="!isReviewMode">
        <div>
          <a (click)="createQuestion()">
            <span class="fa fa-pencil"></span> Create question
          </a>
        </div>
      </div>
      <!-- end question create and damage link -->

      <div class="buttons">
        <button class="btn btn-save" id="saveButton" type="button" [disabled]="!changeExist()" (click)="save()" *ngIf="!isReviewMode">
          Save
        </button>
        <button class="btn btn-reset" id="resetButton" type="button" [disabled]="!changeExist()" (click)="reset()" *ngIf="!isReviewMode">
          Reset
        </button>
        <button class="btn btn-warning" id="cancelButton" type="button" (click)="this.modalRef.hide()">Cancel</button>
      </div>
    </div>

  </div>
</div>
