.buttons {
  text-align: center;
  color: white;
}

.btn.btn-save {
  background-color: rgb(100, 150, 100);
}

.btn.btn-reset {
  background-color: rgb(66, 139, 202);
}

.question-links {
  margin-bottom: 20px;
  cursor: hand;
}

.question-list {
  max-height: 400px;
  overflow:scroll;
  overflow-x:hidden;
}

span.fa-trash {
  color: #e3a321;
  cursor: hand;
}

.list-group-item > span {
  float: right;
  font-size: 20px;
  margin-top: -10px;
  margin-right: -10px;
}

.panel-body {
  max-height: 450px;
}

.modal-lg {
  margin-left: -25%!important;
}

.modal-body {
  font-size: 15px;
}
