<script src="business-profile.component.ts"></script>
<div class="container" *ngIf="businessData">

  <div id="map" class="row" *ngIf="businessData.address">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-heading-location">
          <span class="fa fa-map-marker"></span> Location
        </div>
        <div>
          <div><b>Street:</b> {{ businessData.address.street }} {{ businessData.address.number }}</div>
          <div><b>City:</b> {{ businessData.address.city.name }}, {{ businessData.address.city.postalNumber }}</div>
        </div>
      </div>
      <div class="panel-body">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="form">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-personal">
        Buisness information
      </div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="update()" accept-charset="UTF-8">

          <div class="col-xs-6 form-left">
            <div class="form-group">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-id-badge"></i>
                </div>
                <input
                  formControlName="username"
                  id="username"
                  type="text"
                  class="form-control"
                  readonly
                  title="Username can't be changed!">
              </div>
            </div>


            <div class="form-group">
              <label for="name">Name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-pencil"></i>
                </div>
                <input
                  formControlName="name"
                  id="name"
                  placeholder="name..."
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <div  *ngIf="name.errors.required; else nameMinLength" id="nameRequired">
                  The name is required!
                </div>
                <ng-template #nameMinLength>
                  <ng-container *ngIf="name.errors.minlength">
                    <div id="nameMinimumLength">
                      Minimum length is {{name.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </div>
                <input
                  formControlName="email"
                  id="email"
                  placeholder="email..."
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div id="emailRequired" *ngIf="email.errors.required; else emailPattern">
                  The email is required!
                </div>
                <ng-template #emailPattern>
                  <ng-container *ngIf="email.errors.email">
                    <div id="emailPattern">
                      Please provide a valid email address.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </div>
                <input
                  formControlName="phoneNumber"
                  id="phoneNumber"
                  placeholder="phone number..."
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
                <div *ngIf="phoneNumber.errors.required; else phoneNumberContainsSpace">
                  <div id="phoneNumberRequired">
                    The phone number is required!
                  </div>
                </div>
                <ng-template #phoneNumberContainsSpace>
                  <ng-container *ngIf="phoneNumber.errors.cannotContainSpace; else phoneNumberPattern">
                    <div id="phoneNumberContainSpace">
                      The phone number can't contain space.
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #phoneNumberPattern>
                  <ng-container *ngIf="phoneNumber.errors.pattern">
                    <div id="phoneNumberPattern">
                      The phone must contain between 6 and 10 numbers.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <label for="businessType">Type of business</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-briefcase"></i>
                </div>
                <div class="dropdown">
                  <input
                    formControlName="businessType"
                    id="businessType"
                    type="text"
                    class="form-control"
                    readonly
                    title="Business type can't be changed!">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-paperclip"></i>
                </div>
                <textarea
                  class="form-control"
                  rows="5"
                  formControlName="description"
                  id="description"
                  placeholder="description..."></textarea>
              </div>
              <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
                <div id="descriptionRequired" *ngIf="description.errors.required; else descriptionLength">
                  Description is required
                </div>
                <ng-template #descriptionLength>
                  <ng-container *ngIf="description.errors.minlength">
                    <div id="descriptionLength">
                      Minimum length is {{description.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="col-xs-6 form-right">

            <div class="form-group">
              <label for="street">Street</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <input
                  formControlName="street"
                  id="street"
                  placeholder="street..."
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="street.touched && street.invalid" class="alert alert-danger">
                <div id='streetRequired' *ngIf="street.errors.required; else streetLength">
                  The street is required!
                </div>
                <ng-template #streetLength>
                  <ng-container *ngIf="street.errors.minlength">
                    <div id="streetLength">
                      Minimum length is {{street.errors.minlength.requiredLength}} characters.
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>

            <div class="form-group">
              <label for="number">Number</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa fa-home"></i>
                </div>
                <input
                  formControlName="number"
                  id="number"
                  placeholder="street number..."
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="number.touched && number.invalid" class="alert alert-danger">
                <div *ngIf="number.errors.required; else numberContainsSpace">
                  <div id="numberRequired">
                    The number is required!
                  </div>
                </div>
                <ng-template #numberContainsSpace>
                  <ng-container *ngIf="number.errors.cannotContainSpace">
                    <div id="numberContainsSpace">
                      The number can't contain space
                    </div>
                  </ng-container>
                </ng-template>

              </div>
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-globe"></i>
                </div>
                <input
                  formControlName="city"
                  id="city"
                  placeholder="city..."
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
                <div *ngIf="city.errors.required;" id="cityRequired">
                  The city is required!
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="postalCode">Postal Code</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-globe"></i>
                </div>
                <input
                  formControlName="postalCode"
                  id="postalCode"
                  placeholder="postal code..."
                  type="text"
                  class="form-control">
              </div>
              <div *ngIf="postalCode.touched && postalCode.invalid" class="alert alert-danger">
                <div *ngIf="postalCode.errors.required; else postalCodePattern" id="postalCodeRequired">
                  Postal Code is required
                </div>
                <ng-template #postalCodePattern>
                  <ng-container *ngIf="postalCode.errors.pattern">
                    <div id="postalCodePattern">
                      The postal code must contain exactly 5 digits
                    </div>
                  </ng-container>
                </ng-template>
              </div>
            </div>


            <div class="form-group">
              <label for="currentPassword">Current password</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-unlock"></i>
                </div>
                <input
                  formControlName="currentPassword"
                  id="currentPassword"
                  type="password"
                  class="form-control">
              </div>
              <div *ngIf="currentPassword.invalid" class="alert alert-danger">
                <div *ngIf="currentPassword.errors.required" id="currentPasswordRequired">
                  The current password is required!
                </div>
              </div>
            </div>

            <div class="form-group" formGroupName="passwords">
              <div class="form-group">
                <label for="password">New password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
                  <input
                    formControlName="password"
                    id="password"
                    type="password"
                    class="form-control">
                </div>
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                  <div *ngIf="password.errors.required; else newPasswordMinLength" id="newPasswordRequired">
                    The password is required!
                  </div>
                  <ng-template #newPasswordMinLength>
                    <ng-container *ngIf="password.errors.minlength">
                      <div id="newPasswordMinLength">
                        Minimum length is {{password.errors.minlength.requiredLength}} characters.
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirmation of new password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </div>
                  <input
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    type="password"
                    class="form-control">
                </div>
                <div *ngIf="confirmPassword.invalid" class="alert alert-danger">
                  <div *ngIf="confirmPassword.errors.required" id="confirmPasswordRequired">
                    The password confirmation is required!
                  </div>
                </div>
                <div *ngIf="password.touched && password.valid && confirmPassword.touched && confirmPassword.valid &&
                passwords.invalid && passwords.errors.matchPasswords" class="alert alert-danger"
                     id="confirmPasswordNotMatch">
                  Passwords don't match!
                </div>
              </div>
            </div>

          </div>

          <br/>
          <br/>
          <br/>
          <div class="form-group">
            <div class="col-xs-12 profile-button-div">
              <button class="{{ buttonClassName }}" type="button" (click)="activateOrDeactivate()">
                {{businessData.deactivated ? "Activate" : "Deactivate"}}
              </button>
              <button class="btn btn-warning account" type="button" (click)="displayAddAccount()">Manage accounts
              </button>
              <button class="btn save" type="submit"
                      [disabled]="accountListsAreSame() && (disableSaveOrReset || !form.valid)">
                <span class="fa fa-check"></span> Save
              </button>
              <button class="btn reset" type="button" (click)="reset()"
                      [disabled]="accountListsAreSame() && disableSaveOrReset">
                <span class="fa fa-times"></span> Reset
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>




