<div class="modal-header">
  <div class="modal-title pull-left">
    <h4>Content of record for finished meeting</h4>
  </div>
</div>
<div class="modal-body" *ngIf="model">
  <form #f="ngForm" (ngSubmit)="onSubmit()" (change)="changeExist()" accept-charset="UTF-8">
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        placeholder="content..."
        [(ngModel)]="model.content"
        #content="ngModel"
        required>
      </textarea>
      <div *ngIf="content.touched && content.invalid" class="alert alert-danger">
        <div id="contentRequiredError" *ngIf="content.errors.required">
          The content is required!
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-save" type="submit" [disabled]="disableSaveAndReset || !f.valid">Save</button>
      <button class="btn btn-reset" type="button" [disabled]="disableSaveAndReset" (click)="reset()">Reset</button>
      <button class="btn btn-warning" type="button" (click)="modalRef.hide()">Cancel</button>
    </div>
  </form>
</div>
