<div class="modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Choose business who'll fix the damage</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div>
        <tabset [justified]="true">
          <tab *ngFor="let tab of tabs"
               [heading]="tab.title"
               [active]="tab.active"
               (select)="loadBusinesses(tab)"
               (deselect)="tab.active = false" customClass="customTabClass"></tab>
        </tabset>
      </div>

      <div *ngIf="businesses && businesses.length > 0; else noElements">
        <div>
          <table class="table table-hover table-condensed">
            <thead>
            <tr>
              <th class="text-center"> Business Name</th>
              <th class="text-center"> Business Address</th>
              <th class="text-center"> Business City</th>
              <th [hidden]="!isFirstTab()" class="text-center">Offer price</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let business of businesses">
              <td>{{ business.name }}</td>
              <td> {{ business.address.city.name}}</td>
              <td>{{ business.address.street + " " + business.address.number}}</td>
              <td [hidden]="!isFirstTab()">{{ business.offer ? business.offer.price : '' }}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="chooseBusiness(business)">
                  <i class="fa fa-check"></i> Choose
                </button>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="div-page">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
                        [itemsPerPage]="itemsPerPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>

      <ng-template #noElements>
        <div class="no-businesses">
          <h4>There are no businesses</h4>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
